# Data Madness Notebook - "Go where you are treated best !"

**The following notebook presents the work done by Group 2 for the Data Madness project which is part of the examination for the third year course KEN 3450 Data Analysis.**

In [47]:
# Comment Hendrik : Say something about the permitted terms of distribution for this work.

In [194]:
# IMPORTS GALORE
import pandas as pd
import numpy as np
import scipy as sp

import statsmodels.formula.api as sm
from sklearn import linear_model

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')   #seaborn-poster
plt.rcParams['figure.figsize'] = (11, 8)


#activate if need arises:
import warnings
warnings.filterwarnings('ignore')

## Part 1: EDA
### Import the  data from the two main sources:
+ [2017](https://www.kaggle.com/kaggle/kaggle-survey-2017), [2018](https://www.kaggle.com/kaggle/kaggle-survey-2018) and [2019](https://www.kaggle.com/c/kaggle-survey-2019/data) Kaggle Machine Learning & Data Science Survey **(1)**
+ 2017, 2018 and 2019 [Data Professional Salary Survey Results](https://www.brentozar.com/archive/2020/01/the-2020-data-professional-salary-survey-results-are-in/). The survey is conducted by Brent Ozar, a private database consultant. **(2)**

### 1.1.1 Import the ML and Data Science Survey Data

In [165]:
#local filepath, do not re-run cell or specify given file path on local machine 
file = '/Users/HendrikS/Documents/GitHub/Data-Madness/2017multipleChoiceResponses.csv'
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

+ The data is in ascii encoding, thus the encoding that we use with the pandas `pandas.read_csv` function should be [ISO-8859-1](https://en.wikipedia.org/wiki/ISO/IEC_8859-1):

In [166]:
df_KGLresponse17 = pd.read_csv('2017multipleChoiceResponses.csv',encoding = "ISO-8859-1", engine ='python')
df_KGLresponse18 = pd.read_csv('2018multipleChoiceResponses.csv',encoding = "ISO-8859-1", engine ='python')
df_KGLresponse19 = pd.read_csv('2019multipleChoiceResponses.csv',encoding = "ISO-8859-1", engine ='python')

+ For the exploration and in order to spot similar variables between the different data frames, we want to see all variable Names:

In [167]:
pd.set_option('display.max_columns', None)

**Get an idea of the data of 2017:**

In [168]:
df_KGLresponse17.head(5)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,CurrentEmployerType,MLToolNextYearSelect,MLMethodNextYearSelect,LanguageRecommendationSelect,PublicDatasetsSelect,LearningPlatformSelect,LearningPlatformUsefulnessArxiv,LearningPlatformUsefulnessBlogs,LearningPlatformUsefulnessCollege,LearningPlatformUsefulnessCompany,LearningPlatformUsefulnessConferences,LearningPlatformUsefulnessFriends,LearningPlatformUsefulnessKaggle,LearningPlatformUsefulnessNewsletters,LearningPlatformUsefulnessCommunities,LearningPlatformUsefulnessDocumentation,LearningPlatformUsefulnessCourses,LearningPlatformUsefulnessProjects,LearningPlatformUsefulnessPodcasts,LearningPlatformUsefulnessSO,LearningPlatformUsefulnessTextbook,LearningPlatformUsefulnessTradeBook,LearningPlatformUsefulnessTutoring,LearningPlatformUsefulnessYouTube,BlogsPodcastsNewslettersSelect,LearningDataScienceTime,JobSkillImportanceBigData,JobSkillImportanceDegree,JobSkillImportanceStats,JobSkillImportanceEnterpriseTools,JobSkillImportancePython,JobSkillImportanceR,JobSkillImportanceSQL,JobSkillImportanceKaggleRanking,JobSkillImportanceMOOC,JobSkillImportanceVisualizations,JobSkillImportanceOtherSelect1,JobSkillImportanceOtherSelect2,JobSkillImportanceOtherSelect3,CoursePlatformSelect,HardwarePersonalProjectsSelect,TimeSpentStudying,ProveKnowledgeSelect,DataScienceIdentitySelect,FormalEducation,MajorSelect,Tenure,PastJobTitlesSelect,FirstTrainingSelect,LearningCategorySelftTaught,LearningCategoryOnlineCourses,LearningCategoryWork,LearningCategoryUniversity,LearningCategoryKaggle,LearningCategoryOther,MLSkillsSelect,MLTechniquesSelect,ParentsEducation,EmployerIndustry,EmployerSize,EmployerSizeChange,EmployerMLTime,EmployerSearchMethod,UniversityImportance,JobFunctionSelect,WorkHardwareSelect,WorkDataTypeSelect,WorkProductionFrequency,WorkDatasetSize,WorkAlgorithmsSelect,WorkToolsSelect,WorkToolsFrequencyAmazonML,WorkToolsFrequencyAWS,WorkToolsFrequencyAngoss,WorkToolsFrequencyC,WorkToolsFrequencyCloudera,WorkToolsFrequencyDataRobot,WorkToolsFrequencyFlume,WorkToolsFrequencyGCP,WorkToolsFrequencyHadoop,WorkToolsFrequencyIBMCognos,WorkToolsFrequencyIBMSPSSModeler,WorkToolsFrequencyIBMSPSSStatistics,WorkToolsFrequencyIBMWatson,WorkToolsFrequencyImpala,WorkToolsFrequencyJava,WorkToolsFrequencyJulia,WorkToolsFrequencyJupyter,WorkToolsFrequencyKNIMECommercial,WorkToolsFrequencyKNIMEFree,WorkToolsFrequencyMathematica,WorkToolsFrequencyMATLAB,WorkToolsFrequencyAzure,WorkToolsFrequencyExcel,WorkToolsFrequencyMicrosoftRServer,WorkToolsFrequencyMicrosoftSQL,WorkToolsFrequencyMinitab,WorkToolsFrequencyNoSQL,WorkToolsFrequencyOracle,WorkToolsFrequencyOrange,WorkToolsFrequencyPerl,WorkToolsFrequencyPython,WorkToolsFrequencyQlik,WorkToolsFrequencyR,WorkToolsFrequencyRapidMinerCommercial,WorkToolsFrequencyRapidMinerFree,WorkToolsFrequencySalfrod,WorkToolsFrequencySAPBusinessObjects,WorkToolsFrequencySASBase,WorkToolsFrequencySASEnterprise,WorkToolsFrequencySASJMP,WorkToolsFrequencySpark,WorkToolsFrequencySQL,WorkToolsFrequencyStan,WorkToolsFrequencyStatistica,WorkToolsFrequencyTableau,WorkToolsFrequencyTensorFlow,WorkToolsFrequencyTIBCO,WorkToolsFrequencyUnix,WorkToolsFrequencySelect1,WorkToolsFrequencySelect2,WorkFrequencySelect3,WorkMethodsSelect,WorkMethodsFrequencyA/B,WorkMethodsFrequencyAssociationRules,WorkMethodsFrequencyBayesian,WorkMethodsFrequencyCNNs,WorkMethodsFrequencyCollaborativeFiltering,WorkMethodsFrequencyCross-Validation,WorkMethodsFrequencyDataVisualization,WorkMethodsFrequencyDecisionTrees,WorkMethodsFrequencyEnsembleMethods,WorkMethodsFrequencyEvolutionaryApproaches,WorkMethodsFrequencyGANs,WorkMethodsFrequencyGBM,WorkMethodsFrequencyHMMs,WorkMethodsFrequencyKNN,WorkMethodsFrequencyLiftAnalysis,WorkMethodsFrequencyLogisticRegression,WorkMethodsFrequencyMLN,WorkMethodsFrequencyNaiveBayes,WorkMethodsFrequencyNLP,WorkMethodsFrequencyNeuralNetworks,WorkMethodsFrequencyPCA,WorkMethodsFrequencyPrescriptiveModeling,WorkMethodsFrequencyRandomForests,WorkMethodsFrequencyRecommenderSystems,WorkMethodsFrequencyRNNs,WorkMethodsFrequencySegmentation,WorkMethodsFrequencySimulation,WorkMethodsFrequencySVMs,WorkMethodsFrequencyTextAnalysis,WorkMethodsFrequencyTimeSeriesAnalysis,WorkMethodsFrequencySelect1,WorkMethodsFrequencySelect2,WorkMethodsFrequencySelect3,TimeGatheringData,TimeModelBuilding,TimeProduction,TimeVisualizing,TimeFindingInsights,TimeOtherSelect,AlgorithmUnderstandingLevel,WorkChallengesSelect,WorkChallengeFrequencyPolitics,WorkChallengeFrequencyUnusedResults,WorkChallengeFrequencyUnusefulInstrumenting,WorkChallengeFrequencyDeployment,WorkChallengeFrequencyDirtyData,WorkChallengeFrequencyExplaining,WorkChallengeFrequencyPass,WorkChallengeFrequencyIntegration,WorkChallengeFrequencyTalent,WorkChallengeFrequencyDataFunds,WorkChallengeFrequencyDomainExpertise,WorkChallengeFrequencyML,WorkChallengeFrequencyTools,WorkChallengeFrequencyExpectations,WorkChallengeFrequencyITCoordination,WorkChallengeFrequencyHiringFunds,WorkChallengeFrequencyPrivacy,WorkChallengeFrequencyScaling,WorkChallengeFrequencyEnvironments,WorkChallengeFrequencyClarity,WorkChallengeFrequencyDataAccess,WorkChallengeFrequencyOtherSelect,WorkDataVisualizations,WorkInternalVsExternalTools,WorkMLTeamSeatSelect,WorkDatasets,WorkDatasetsChallenge,WorkDataStorage,WorkDataSharing,WorkDataSourcing,WorkCodeSharing,RemoteWork,CompensationAmount,CompensationCurrency,SalaryChange,JobSatisfaction,JobSearchResource,JobHuntTime,JobFactorLearning,JobFactorSalary,JobFactorOffice,JobFactorLanguages,JobFactorCommute,JobFactorManagement,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,Employed by a company that doesn't perform adv...,SAS Base,Random Forests,F#,Dataset aggregator/platform (i.e. Socrata/Kagg...,"College/University,Conferences,Podcasts,Trade ...",NaN,NaN,NaN,NaN,Very useful,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very useful,NaN,NaN,Somewhat useful,NaN,NaN,"Becoming a Data Scientist Podcast,Data Machina...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Bachelor's degree,Management information systems,More than 10 years,"Predictive Modeler,Programmer,Researcher",University courses,0.0,0.0,100.0,0.0,0.0,0.0,"Computer Vision,Natural Language Processing,Su...","Evolutionary Approaches,Neural Networks - GANs...",A doctoral degree,Internet-based,100 to 499 employees,Increased slightly,3-5 years,I visited the company's Web site and found a j...,Not very important,Build prototypes to explore applying machine l...,"Gaming Laptop (Laptop + CUDA capable GPU),Work...","Text data,Relational data",Rarely,10GB,"Neural Networks,Random Forests,RNNs","Amazon Web services,Oracle Data Mining/ Oracle...",NaN,Rarely,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,NaN,Most of the time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Association Rules,Collaborative Filtering,Neur...",NaN,Rarely,NaN,NaN,Often,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,Often,NaN,Most of the time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,0.0,0.0,0.0,0.0,Enough to explain the algorithm to someone non...,Company politics / Lack of management/financia...,Rarely,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Often,Most of the time,NaN,NaN,NaN,NaN,26-50% of projects,Do not know,Standalone Team,NaN,NaN,Document-oriented (e.g. MongoDB/Elasticsearch)...,"Company Developed Platform,I don't typically s...",NaN,"Mercurial,Subversion,Other",Always,NaN,NaN,I am not currently employed,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,Random Forests,Python,Dataset aggregator/platform (i.e. Socrata/Kagg...,Kaggle,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat useful,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Becoming a Data Scientist Podcast,Siraj Raval ...",1-2 years,NaN,Nice to have,Unnecessary,NaN,Unnecessary,NaN,Necessary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 - 10 hours,Master's degree,Yes,Master's degree,Computer Science,Less than a year,Software Developer/Software Engineer,University courses,10.0,30.0,0.0,30.0,30.0,0.0,"Computer Vision,Supervised Machine Learning (T...","Bayesian Techniques,Decision Trees - Gradient ...",A bachelor's degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web services,Deep learning,R,Dataset aggregator/platform (i.e. Socrata/Kagg...,"Arxiv,College/University,Kaggle,Online courses...",Very useful,NaN,Somewhat useful,NaN,NaN,NaN,Somewhat useful,NaN,NaN,NaN,Very useful,NaN,NaN,NaN,NaN,NaN,NaN,Very useful,"FastML Blog,No Free Hunch Blog,Talking Machine...",1-2 years,Necessary,NaN,NaN,NaN,NaN,Necessary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursera,edX",Basic laptop (Macbook),2 - 10 hours,Github Portfolio,Yes,Master's degree,Engineering (non-computer focused),3 to 5 years,"Data Scientist,Machine Learning Engineer",University courses,20.0,50.0,0.0,30.0,0.0,0.0,"Adversarial Learning,Computer Vision,Natural L...","Decision Trees - Random Forests,Ensemble Metho...",A bachelor's degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Asking friends, family members, or former coll...",1-2,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,Self-employed,TensorFlow,Neural Nets,Python,I collect my own data (e.g. web-scraping),"Blogs,College/University,Conferences,Friends n...",NaN,Very useful,Very useful,NaN,Very useful,Very useful,NaN,NaN,NaN,Very useful,Very useful,Very useful,NaN,NaN,NaN,NaN,NaN,NaN,KDnuggets Blog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Master's degree,Mathematics or statistics,More than 10 years,"Business Analyst,Operations Research Practitio...",University courses,30.0,0.0,40.0,30.0,0.0,0.0,"Recommendation Engines,Reinforcement learning,...","Bayesian Techniques,Decision Trees - Gradient ...",High school,Mix of fields,NaN,NaN,NaN,NaN,Very important,Analyze and understand data to influence produ...,"Laptop + Cloud service (AWS, Azure, GCE ...)",Relational data,Always,1GB,"Bayesian Techniques,Decision Trees,Random Fore...","Amazon Machine Learning,Amazon Web services,Cl...",Rarely,Often,NaN,NaN,Rarely,NaN,NaN,NaN,Rarely,NaN,NaN,NaN,NaN,Rarely,Rarely,NaN,NaN,NaN,NaN,Rarely,Rarely,NaN,Sometimes,NaN,Rarely,NaN,Rarely,NaN,NaN,NaN,Rarely,NaN,Rarely,NaN,NaN,NaN,NaN,Sometimes,NaN,Rarely,NaN,Often,NaN,NaN,Rarely,NaN,NaN,NaN,NaN,NaN,NaN,"A/B Testing,Bayesian Techniques,Data Visualiza...",Sometimes,NaN,Sometimes,NaN,NaN,NaN,Sometimes,Often,Sometimes,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,Often,Sometimes,NaN,Sometimes,NaN,NaN,Sometimes,NaN,NaN,NaN,Often,NaN,NaN,Often,NaN,NaN,NaN,50.0,20.0,0.0,10.0,20.0,0.0,Enough to refine and innovate on the algorithm,Company politics / Lack of management/financia...,Often,Often,Often,Often,Often,Often,NaN,Often,Often,Often,Most of the time,Often,Often,Often,NaN,Often,Often,Often,Often,Often,Often,NaN,100% of projects,Entirely internal,Standalone Team,Electricity data sets from government and states,"Everything is custom, there is never a tool th...","Column-oriented relational (e.g. KDB/MariaDB),...","Company Developed Platform,Email",NaN,Generic cloud file sharing software (Dropbox/B...,NaN,"250,000",USD,Has increased 20% or more,10 - Highly Satisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,Employed by a company that doesn't perform adv...,TensorFlow,Text Mining,Python,GitHub,"Arxiv,Conferences,Kaggle,Textbook",Very useful,NaN,NaN,NaN,Somewhat useful,NaN,Somewhat useful,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat useful,NaN,NaN,NaN,"Data Machina Newsletter,Jack's Import AI Newsl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Doctoral degree,Engineering (non-computer focused),More than 10 years,"Computer Scientist,Data Analyst,Data Miner,Dat...",University courses,60.0,5.0,5.0,30.0,0.0,0.0,"Computer Vision,Outlier detection (e.g. Fraud ...","Bayesian Techniques,Decision Trees - Gradient ...",Primary/elementary school,Technology,"5,000 to 9,999 employees",Stayed the same,Don't know,A tech-specific job board,Somewhat important,Build prototypes to explore applying machine l...,"Gaming Laptop (Laptop + CUDA capable GPU),GPU ...","Image data,Relational data",Most of the time,100GB,"Bayesian Techniques,CNNs,Ensemble Methods,Neur...","C/C++,Jupyter notebooks,MATLAB/Octave,Python,R...",NaN,NaN,NaN,Most of the time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,NaN,NaN,NaN,Often,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,NaN,Sometimes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,NaN,NaN,NaN,NaN,NaN,"Association Rules,Bayesian Techniques,CNNs,Col...",NaN,Sometimes,Often,Most of the time,Sometimes,NaN,Most of the time,Sometimes,Often,Sometimes,NaN,NaN,NaN,Most of the time,NaN,Sometimes,NaN,Sometimes,NaN,Most of the time,Sometimes,NaN,NaN,NaN,Sometimes,Often,NaN,Most of the time,NaN,Sometimes,NaN,NaN,NaN,30.0,20.0,15.0,15.0,20.0,0.0,Enough to refine and innovate on the algorithm,Company politics / Lack of management/financia...,Often,Sometimes,NaN,NaN,NaN,NaN,NaN,NaN,Sometimes,Sometimes,Sometimes,NaN,NaN,NaN,Sometimes,NaN,Most of the time,NaN,Sometimes,NaN,NaN,NaN,10-25% of projects,Approximately half internal and half external,Business Department,NaN,NaN,Flat files not in a database or cache (e.g. CS...,Company Developed Platform,NaN,Git,Rarely,NaN,NaN,I do not want to share information about my sa...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
df_KGLresponse17.shape

(16716, 228)

+ Adding a `SurveyYear` column as the first column to all KGL dataframes:

In [170]:
# run this only once!
#2017
df_KGLresponse17['Survey Year'] = 2017
cols = df_KGLresponse17.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_KGLresponse17 = df_KGLresponse17[cols]
#2018
df_KGLresponse18['Survey Year'] = 2018
cols = df_KGLresponse18.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_KGLresponse18 = df_KGLresponse18[cols]
#2019
df_KGLresponse19['Survey Year'] = 2019
cols = df_KGLresponse19.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_KGLresponse19 = df_KGLresponse19[cols]

**Columns from KGL17 which are interesting for this analysis:**<br>

Columns that are interesting, but are difficult to work with  especially when considering the other data source (because e.g. the question goes into depth about ML) are noted in brackets. We have to keep in mind that the survey by Brent Ozar is answered by mainly database professionals which do not use, for instance, ML techniques often.

+ Column names are mostly self-explanatory. In case they are not, a description is added

+ `Survey Year`
+ `GenderSelect`
+ `Country` - The country you currently live in. (Note: As opposed to working in.)
+ `Age`  (not asked in other data source)
+ `EmploymentStatus`
+ `CurrentJobTitleSelect` (For job title there is also a FreeForm, i.e. the user can specify an own JobTitle which is not considered for this analysis). BUT: Free form responses are randomized within a column, so that reading across a single row does not give a single user's answers. Therefore, we disregard Free Form responses in this analysis.
+ `FormalEducation`
+ `MajorSelect` - Which best describes your undergraduate major? 
+ `Tenure` - How long have you been writing code to analyze data?
+ `EmployerSize` - How many employees work at your current or most recent company?
+ `CompensationAmount` - What is your current total yearly compensation (salary + bonus)? - Total Amount (e.g. 75,000)
+ `CompensationCurrency` - What is your current total yearly compensation (salary + bonus)? - Choose your currency
+ `JobSatisfaction` - On a scale from 0 (Highly Dissatisfied) - 10 (Highly Satisfied), how satisfied are you with your current job?


Possible additional variables:
+ (`MLSikllsSelect`) - In which areas of machine learning do you consider yourself competent?
+ (`MLTechniquesSelect`) - In which machine learning techniques do you consider yourself competent?
+ `ParentsEducation` - What's the highest level of education completed by either of your parents?
+ `EmployerIndustry` (no comparable variable in other data source, only `EmploymentSector`-public or private)

+ `JobFactorSalary` - How are you assessing potential job opportunities? - The compensation and benefits offered   (only asked to Learners)
+ `JobFactor_X_` - JobFactor questions only asked to respondents of type 'Learners'

**Get an idea of the data of 2018:**

In [171]:
df_KGLresponse18.head()  #header should be =1

,Survey Year,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,Q7_OTHER_TEXT,Q8,Q9,Q10,Q11_Part_1,Q11_Part_2,Q11_Part_3,Q11_Part_4,Q11_Part_5,Q11_Part_6,Q11_Part_7,Q11_OTHER_TEXT,Q12_MULTIPLE_CHOICE,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q12_OTHER_TEXT,Q13_Part_1,Q13_Part_2,Q13_Part_3,Q13_Part_4,Q13_Part_5,Q13_Part_6,Q13_Part_7,Q13_Part_8,Q13_Part_9,Q13_Part_10,Q13_Part_11,Q13_Part_12,Q13_Part_13,Q13_Part_14,Q13_Part_15,Q13_OTHER_TEXT,Q14_Part_1,Q14_Part_2,Q14_Part_3,Q14_Part_4,Q14_Part_5,Q14_Part_6,Q14_Part_7,Q14_Part_8,Q14_Part_9,Q14_Part_10,Q14_Part_11,Q14_OTHER_TEXT,Q15_Part_1,Q15_Part_2,Q15_Part_3,Q15_Part_4,Q15_Part_5,Q15_Part_6,Q15_Part_7,Q15_OTHER_TEXT,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,Q16_Part_7,Q16_Part_8,Q16_Part_9,Q16_Part_10,Q16_Part_11,Q16_Part_12,Q16_Part_13,Q16_Part_14,Q16_Part_15,Q16_Part_16,Q16_Part_17,Q16_Part_18,Q16_OTHER_TEXT,Q17,Q17_OTHER_TEXT,Q18,Q18_OTHER_TEXT,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_Part_6,Q19_Part_7,Q19_Part_8,Q19_Part_9,Q19_Part_10,Q19_Part_11,Q19_Part_12,Q19_Part_13,Q19_Part_14,Q19_Part_15,Q19_Part_16,Q19_Part_17,Q19_Part_18,Q19_Part_19,Q19_OTHER_TEXT,Q20,Q20_OTHER_TEXT,Q21_Part_1,Q21_Part_2,Q21_Part_3,Q21_Part_4,Q21_Part_5,Q21_Part_6,Q21_Part_7,Q21_Part_8,Q21_Part_9,Q21_Part_10,Q21_Part_11,Q21_Part_12,Q21_Part_13,Q21_OTHER_TEXT,Q22,Q22_OTHER_TEXT,Q23,Q24,Q25,Q26,Q27_Part_1,Q27_Part_2,Q27_Part_3,Q27_Part_4,Q27_Part_5,Q27_Part_6,Q27_Part_7,Q27_Part_8,Q27_Part_9,Q27_Part_10,Q27_Part_11,Q27_Part_12,Q27_Part_13,Q27_Part_14,Q27_Part_15,Q27_Part_16,Q27_Part_17,Q27_Part_18,Q27_Part_19,Q27_Part_20,Q27_OTHER_TEXT,Q28_Part_1,Q28_Part_2,Q28_Part_3,Q28_Part_4,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10,Q28_Part_11,Q28_Part_12,Q28_Part_13,Q28_Part_14,Q28_Part_15,Q28_Part_16,Q28_Part_17,Q28_Part_18,Q28_Part_19,Q28_Part_20,Q28_Part_21,Q28_Part_22,Q28_Part_23,Q28_Part_24,Q28_Part_25,Q28_Part_26,Q28_Part_27,Q28_Part_28,Q28_Part_29,Q28_Part_30,Q28_Part_31,Q28_Part_32,Q28_Part_33,Q28_Part_34,Q28_Part_35,Q28_Part_36,Q28_Part_37,Q28_Part_38,Q28_Part_39,Q28_Part_40,Q28_Part_41,Q28_Part_42,Q28_Part_43,Q28_OTHER_TEXT,Q29_Part_1,Q29_Part_2,Q29_Part_3,Q29_Part_4,Q29_Part_5,Q29_Part_6,Q29_Part_7,Q29_Part_8,Q29_Part_9,Q29_Part_10,Q29_Part_11,Q29_Part_12,Q29_Part_13,Q29_Part_14,Q29_Part_15,Q29_Part_16,Q29_Part_17,Q29_Part_18,Q29_Part_19,Q29_Part_20,Q29_Part_21,Q29_Part_22,Q29_Part_23,Q29_Part_24,Q29_Part_25,Q29_Part_26,Q29_Part_27,Q29_Part_28,Q29_OTHER_TEXT,Q30_Part_1,Q30_Part_2,Q30_Part_3,Q30_Part_4,Q30_Part_5,Q30_Part_6,Q30_Part_7,Q30_Part_8,Q30_Part_9,Q30_Part_10,Q30_Part_11,Q30_Part_12,Q30_Part_13,Q30_Part_14,Q30_Part_15,Q30_Part_16,Q30_Part_17,Q30_Part_18,Q30_Part_19,Q30_Part_20,Q30_Part_21,Q30_Part_22,Q30_Part_23,Q30_Part_24,Q30_Part_25,Q30_OTHER_TEXT,Q31_Part_1,Q31_Part_2,Q31_Part_3,Q31_Part_4,Q31_Part_5,Q31_Part_6,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12,Q31_OTHER_TEXT,Q32,Q32_OTHER,Q33_Part_1,Q33_Part_2,Q33_Part_3,Q33_Part_4,Q33_Part_5,Q33_Part_6,Q33_Part_7,Q33_Part_8,Q33_Part_9,Q33_Part_10,Q33_Part_11,Q33_OTHER_TEXT,Q34_Part_1,Q34_Part_2,Q34_Part_3,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_OTHER_TEXT,Q35_Part_1,Q35_Part_2,Q35_Part_3,Q35_Part_4,Q35_Part_5,Q35_Part_6,Q35_OTHER_TEXT,Q36_Part_1,Q36_Part_2,Q36_Part_3,Q36_Part_4,Q36_Part_5,Q36_Part_6,Q36_Part_7,Q36_Part_8,Q36_Part_9,Q36_Part_10,Q36_Part_11,Q36_Part_12,Q36_Part_13,Q36_OTHER_TEXT,Q37,Q37_OTHER_TEXT,Q38_Part_1,Q38_Part_2,Q38_Part_3,Q38_Part_4,Q38_Part_5,Q38_Part_6,Q38_Part_7,Q38_Part_8,Q38_Part_9,Q38_Part_10,Q38_Part_11,Q38_Part_12,Q38_Part_13,Q38_Part_14,Q38_Part_15,Q38_Part_16,Q38_Part_17,Q38_Part_18,Q38_Part_19,Q38_Part_20,Q38_Part_21,Q38_Part_22,Q38_OTHER_TEXT,Q39_Part_1,Q39_Part_2,Q40,Q41_Part_1,Q41_Part_2,Q41_Part_3,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_OTHER_TEXT,Q43,Q44_Part_1,Q44_Part_2,Q44_Part_3,Q44_Part_4,Q44_Part_5,Q44_Part_6,Q45_Part_1,Q45_Part_2,Q45_Part_3,Q45_Part_4,Q45_Part_5,Q45_Part_6,Q46,Q47_Part_1,Q47_Part_2,Q47_Part_3,Q47_Part_4,Q47_Part_5,Q47_Part_6,Q47_Part_7,Q47_Part_8,Q47_Part_9,Q47_Part_10,Q47_Part_11,Q47_Part_12,Q47_Part_13,Q47_Part_14,Q47_Part_15,Q47_Part_16,Q48,Q49_Part_1,Q49_Part_2,Q49_Part_3,Q49_Part_4,Q49_Part_5,Q49_Part_6,Q49_Part_7,Q49_Part_8,Q49_Part_9,Q49_Part_10,Q49_Part_11,Q49_Part_12,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT

In [172]:
df_KGLresponse18.shape

(23860, 396)

+ For the 2018 and 2019 survey the `CompensationAmount` is asked for as follows: What is your current yearly compensation (approximate $USD)? So we do not have an additional currency column.

+ From 2017 to 2018 we are loosing following variables: `EmploymentStatus`,`EmployerSize`,`JobSatisfaction`

+ Renaming the relevant columns in the 2018 data:

In [173]:
df_KGLresponse18 = df_KGLresponse18.rename(columns={'Q1': 'GenderSelect', 'Q2': 'Age', 'Q3': 'Country', 'Q4': 'FormalEducation', 'Q6': 'CurrentJobTitleSelect', 'Q7' : 'EmployerIndustry', 'Q8' : 'Tenure', 'Q9' : 'SalaryUSD'})

**Get an idea of the data of 2019:**

In [119]:
df_KGLresponse19.head(2)  #header should be =1

,Survey Year,Time from Start to Finish (seconds),Q1,Q2,Q2_OTHER_TEXT,Q3,Q4,Q5,Q5_OTHER_TEXT,Q6,Q7,Q8,Q9_Part_1,Q9_Part_2,Q9_Part_3,Q9_Part_4,Q9_Part_5,Q9_Part_6,Q9_Part_7,Q9_Part_8,Q9_OTHER_TEXT,Q10,Q11,Q12_Part_1,Q12_Part_2,Q12_Part_3,Q12_Part_4,Q12_Part_5,Q12_Part_6,Q12_Part_7,Q12_Part_8,Q12_Part_9,Q12_Part_10,Q12_Part_11,Q12_Part_12,Q12_OTHER_TEXT,Q13_Part_1,Q13_Part_2,Q13_Part_3,Q13_Part_4,Q13_Part_5,Q13_Part_6,Q13_Part_7,Q13_Part_8,Q13_Part_9,Q13_Part_10,Q13_Part_11,Q13_Part_12,Q13_OTHER_TEXT,Q14,Q14_Part_1_TEXT,Q14_Part_2_TEXT,Q14_Part_3_TEXT,Q14_Part_4_TEXT,Q14_Part_5_TEXT,Q14_OTHER_TEXT,Q15,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,Q16_Part_7,Q16_Part_8,Q16_Part_9,Q16_Part_10,Q16_Part_11,Q16_Part_12,Q16_OTHER_TEXT,Q17_Part_1,Q17_Part_2,Q17_Part_3,Q17_Part_4,Q17_Part_5,Q17_Part_6,Q17_Part_7,Q17_Part_8,Q17_Part_9,Q17_Part_10,Q17_Part_11,Q17_Part_12,Q17_OTHER_TEXT,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_Part_7,Q18_Part_8,Q18_Part_9,Q18_Part_10,Q18_Part_11,Q18_Part_12,Q18_OTHER_TEXT,Q19,Q19_OTHER_TEXT,Q20_Part_1,Q20_Part_2,Q20_Part_3,Q20_Part_4,Q20_Part_5,Q20_Part_6,Q20_Part_7,Q20_Part_8,Q20_Part_9,Q20_Part_10,Q20_Part_11,Q20_Part_12,Q20_OTHER_TEXT,Q21_Part_1,Q21_Part_2,Q21_Part_3,Q21_Part_4,Q21_Part_5,Q21_OTHER_TEXT,Q22,Q23,Q24_Part_1,Q24_Part_2,Q24_Part_3,Q24_Part_4,Q24_Part_5,Q24_Part_6,Q24_Part_7,Q24_Part_8,Q24_Part_9,Q24_Part_10,Q24_Part_11,Q24_Part_12,Q24_OTHER_TEXT,Q25_Part_1,Q25_Part_2,Q25_Part_3,Q25_Part_4,Q25_Part_5,Q25_Part_6,Q25_Part_7,Q25_Part_8,Q25_OTHER_TEXT,Q26_Part_1,Q26_Part_2,Q26_Part_3,Q26_Part_4,Q26_Part_5,Q26_Part_6,Q26_Part_7,Q26_OTHER_TEXT,Q27_Part_1,Q27_Part_2,Q27_Part_3,Q27_Part_4,Q27_Part_5,Q27_Part_6,Q27_OTHER_TEXT,Q28_Part_1,Q28_Part_2,Q28_Part_3,Q28_Part_4,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10,Q28_Part_11,Q28_Part_12,Q28_OTHER_TEXT,Q29_Part_1,Q29_Part_2,Q29_Part_3,Q29_Part_4,Q29_Part_5,Q29_Part_6,Q29_Part_7,Q29_Part_8,Q29_Part_9,Q29_Part_10,Q29_Part_11,Q29_Part_12,Q29_OTHER_TEXT,Q30_Part_1,Q30_Part_2,Q30_Part_3,Q30_Part_4,Q30_Part_5,Q30_Part_6,Q30_Part_7,Q30_Part_8,Q30_Part_9,Q30_Part_10,Q30_Part_11,Q30_Part_12,Q30_OTHER_TEXT,Q31_Part_1,Q31_Part_2,Q31_Part_3,Q31_Part_4,Q31_Part_5,Q31_Part_6,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12,Q31_OTHER_TEXT,Q32_Part_1,Q32_Part_2,Q32_Part_3,Q32_Part_4,Q32_Part_5,Q32_Part_6,Q32_Part_7,Q32_Part_8,Q32_Part_9,Q32_Part_10,Q32_Part_11,Q32_Part_12,Q32_OTHER_TEXT,Q33_Part_1,Q33_Part_2,Q33_Part_3,Q33_Part_4,Q33_Part_5,Q33_Part_6,Q33_Part_7,Q33_Part_8,Q33_Part_9,Q33_Part_10,Q33_Part_11,Q33_Part_12,Q33_OTHER_TEXT,Q34_Part_1,Q34_Part_2,Q34_Part_3,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q34_Part_7,Q34_Part_8,Q34_Part_9,Q34_Part_10,Q34_Part_11,Q34_Part_12,Q34_OTHER_TEXT
0,2019,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,Select the title most similar to your current ...,What is the size of the company where you are ...,Approximately how many individuals are respons...,Does your current employer incorporate machine...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,What is your current yearly compensation (appr...,Approximately how much money have you spent on...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,How long have you been writing code to analyze...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following integrated development ...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,Which of the following hosted notebook product...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming language would you recommend ...,What programming language would you recommend ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,What data visualization libraries or tools do ...,Which types of specialized hardware do you use...,Which types of specialized hardware do you use...,Which types of specialized hardware do you use...,Which types of specialized hardware do you use...,Which types of specialized hardware do you use...,Which types of specialized hardware do you use...,Have you ever used a TPU (tensor processing un...,For how many years have you used machine learn...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which of the following ML algorithms do you us...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of ML tools do you use on a r...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which categories of computer vision methods do...,Which of the following natural language proces...,Which of the following natural language proces...,Which of the following natural language proces...,Which of the following natural language proces...,Which of the following natural language proces...,Which of the following natural language proces...,Which of the following natural language proces...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following machine learning framew...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which of the following cloud computing platfor...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific cloud computing products do you...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which specific big data / analytics products d...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which of the following machine learning produc...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which automated machine learning tools (or par...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...,Which of the following relational database pro...
1,2019,510,22-24,Male,-1,France,Masterâs degree,Software Engineer,-1,"1000-9,999 employees",0,I do not know,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,"30,000-39,999",$0 (USD),Twitter (data science influencers),NaN,NaN,"Kaggle (forums, blog, social media, etc)",NaN,NaN,NaN,"Blogs (Towards Data Science, Medium, Analytics...",Journal Publications (traditional publications...,NaN,NaN,NaN,-1,NaN,Coursera,NaN,DataCamp,NaN,Kaggle Courses (i.e. Kaggle Learn),NaN,Udemy,NaN,NaN,NaN,NaN,-1,"Basic statistical software (Microsoft Excel, G...",0,-1,-1,-1,-1,-1,1-2 years,"Jupyter (JupyterLab, Jupyter Notebooks, etc)",RStudio,PyCharm,NaN,MATLAB,NaN,Spyder,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,-1,Python,R,SQL,NaN,NaN,Java,Javascript,NaN,NaN,MATLAB,NaN,NaN,-1,Python,-1,NaN,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,CPUs,GPUs,NaN,NaN,NaN,-1,Never,1-2 years,Linear or Logistic Regression,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [175]:
df_KGLresponse19.shape

(19718, 247)

+ `EmployerSize` is again a variable in the 2019 data, instead `EmployerIndustry` is missing.

Renaming the relevant columns in the 2019 data:

In [176]:
df_KGLresponse19 = df_KGLresponse19.rename(columns={'Q1': 'Age', 'Q2': 'GenderSelect', 'Q3': 'Country', 'Q4': 'FormalEducation', 'Q5': 'CurrentJobTitleSelect', 'Q6' : 'EmployerSize', 'Q10' : 'SalaryUSD', 'Q15' : 'Tenure'})

For 2018 and 2019 the order of questions has changed quite a bit. Even from 2018 to 2019 there are quite some changes. in Section 1.1.3 we extract the relevant columns from all three data frames.

### 1.1.2 Import the Professional Salary Survey Data

In [177]:
df_OZRresponse = pd.read_excel('Data_Professional_Salary_Survey_Responses.xlsx', header = 3)

In [178]:
df_OZRresponse.head()

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,ManageStaff,YearsWithThisTypeOfJob,HowManyCompanies,OtherPeopleOnYourTeam,CompanyEmployeesOverall,DatabaseServers,Education,EducationIsComputerRelated,Certifications,HoursWorkedPerWeek,TelecommuteDaysPerWeek,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2017,2017-01-05 05:10:20.451,200000,United States,Not Asked,Microsoft SQL Server,10,MySQL/MariaDB,Full time employee,DBA,No,5,Not Asked,2,Not Asked,350,Masters,No,"Yes, and they're currently valid",45,1,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
1,2017,2017-01-05 05:26:23.388,61515,United Kingdom,Not Asked,Microsoft SQL Server,15,"Oracle, PostgreSQL",Full time employee,DBA,No,3,Not Asked,1,Not Asked,40,None (no degree completed),NaN,"No, I never have",35,2,Not Asked,Private business,No,Not Asked,Not Asked,Not Asked,Not Asked,1
2,2017,2017-01-05 05:32:57.367,95000,Germany,Not Asked,Microsoft SQL Server,5,"Oracle, MySQL/MariaDB, Informix",Full time employee,Other,Yes,25,Not Asked,2,Not Asked,100,Masters,Yes,"Yes, but they expired",45,"None, or less than 1 day per week",Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
3,2017,2017-01-05 05:33:03.316,56000,United Kingdom,Not Asked,Microsoft SQL Server,6,NaN,Full time employee,DBA,No,2,Not Asked,None,Not Asked,500,Associates (2 years),No,"No, I never have",40,1,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
4,2017,2017-01-05 05:34:33.866,35000,France,Not Asked,Microsoft SQL Server,10,Oracle,Full time employee of a consulting/contracting...,DBA,No,10,Not Asked,None,Not Asked,30,Bachelors (4 years),Yes,"Yes, but they expired",40,"None, or less than 1 day per week",Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1

Observation: Some questions are only asked up from more recent years. Most importantly, Gender was only asked up from 2018. 

**Columns which interesting for this analysis:**
+ `Survey Year`
+ `SalaryUSD`
+ `Country`  (We assume here (and it also follows from the [website](https://www.brentozar.com/archive/2020/01/the-2020-data-professional-salary-survey-results-are-in/) of the survey "[...] of you in 63 countries answered"), that this is the country of residence of the respondent.  Since this is the case for both data sources, we assume from now on that the country variable encodes the country of residence and that it is the same as the country where one is employed/works (which might not be true in all cases).
+ `EmploymentStatus`
+ `JobTitle`
+ `YearsWithThisTypeOfJob`
+ `CompanyEmployeesOverall` (was only asked up from 2019)
+ `Education`
+ `HoursWorkedPerWeek` (not a variable in other data source)
+ `PopulationOfLargestCityWithin20Miles` (was only asked up from 2019 and no comparable variable in other data source)
+ `LookingForAnotherJob` (somewhat comparable with `JobSatisfaction` from KGLE data)
+ `Gender` (was only asked up from 2018)

### 1.1.3 Extracting the relevant data

Let's extract the variables that are relevant for the data analysis from the first source, the Kaggle ML and Data Science Surveys from the years 2017, 2018 and 2019 first.The questions/variables have changed in content as well as location from year to year. We thus have to manually gather the variables from each dataframe that we are interested in.

In [499]:
# conflicts: age not in OZR Data, still need to deal with different currencies, deal with EmployerIndustry

relevantVars17 = ['Survey Year',
                  'CompensationAmount',
                  'CompensationCurrency',
                  'Country',
                  'EmploymentStatus',
                  'CurrentJobTitleSelect',
                  'Tenure',
                  'EmployerSize',
                  'FormalEducation',
                  'JobSatisfaction',
                  'EmployerIndustry',
                  'GenderSelect',
                  'Age']    #leave MajorSelect out for now (conflict with other dataset)

df_KGL17_da = df_KGLresponse17[relevantVars17]
df_KGL17_da.shape

,Survey Year,CompensationAmount,CompensationCurrency,Country,EmploymentStatus,CurrentJobTitleSelect,Tenure,EmployerSize,FormalEducation,JobSatisfaction,EmployerIndustry,GenderSelect,Age
0,2017,NaN,NaN,NaN,Employed full-time,DBA/Database Engineer,More than 10 years,100 to 499 employees,Bachelor's degree,5,Internet-based,"Non-binary, genderqueer, or gender non-conforming",NaN
1,2017,NaN,NaN,United States,"Not employed, but looking for work",NaN,Less than a year,NaN,Master's degree,NaN,NaN,Female,30.0
2,2017,NaN,NaN,Canada,"Not employed, but looking for work",NaN,3 to 5 years,NaN,Master's degree,NaN,NaN,Male,28.0
3,2017,"250,000",USD,United States,"Independent contractor, freelancer, or self-em...",Operations Research Practitioner,More than 10 years,NaN,Master's degree,10 - Highly Satisfied,Mix of fields,Male,56.0
4,2017,NaN,NaN,Taiwan,Employed full-time,Computer Scientist,More than 10 years,"5,000 to 9,999 employees",Doctoral degree,2,Technology,Male,38.0
5,2017,NaN,NaN,Brazil,Employed full-time,Data Scientist,6 to 10 years,500 to 999 employees,Doctoral degree,8,Academic,Male,46.0
6,2017,NaN,NaN,United States,Employed full-time,Computer Scientist,More than 10 years,"10,000 or more employees",Master's degree,8,Government,Male,35.0
7,2017,NaN,NaN,India,Employed full-time,Software Developer/Software Engineer,1 to 2 years,NaN,Bachelor's degree,NaN,Technology,Female,22.0
8,2017,80000,AUD,Australia,Employed full-time,Business Analyst,3 to 5 years,20 to 99 employees,Bachelor's degree,7,Non-profit,Female,43.0
9,2017,1200000,RUB,Russia,Employed full-time,Software Developer/Software Engineer,1 to 2 years,20 to 99 employees,Bachelor's degree,7,Internet-based,Male,33.0
10,2017,NaN,NaN,Russia,"Not employed, and not looking for work",NaN,NaN,NaN,Bachelor's degree,NaN,NaN,Female,20.0
11,2017,"95,000",INR,India,Employed full-time,Data Scientist,3 to 5 years,100 to 499 employees,Bachelor's degree,7,Mix of fields,Male,27.0
12,2017,NaN,NaN,Brazil,Employed full-time,Engineer,1 to 2 years,NaN,Doctoral degree,NaN,Academic,Male,26.0
13,2017,NaN,NaN,Netherlands,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Male,54.0
14,2017,1100000,TWD,Taiwan,Employed full-time,Software Developer/Software Engineer,1 to 2 years,Fewer than 10 employees,Master's degree,5,Financial,Male,26.0
15,2017,"120,000",NaN,United States,"Independent contractor, freelancer, or self-em...",DBA/Database Engineer,More than 10 years,NaN,Master's degree,5,Technology,Male,58.0
16,2017,NaN,NaN,Italy,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Male,58.0
17,2017,NaN,NaN,United Kingdom,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Male,24.0
18,2017,NaN,NaN,United States,"Not employed, but looking for work",NaN,Less than a year,NaN,Bachelor's degree,NaN,NaN,Male,26.0
19,2017,NaN,NaN,Brazil,"Not employed, but looking for work",NaN,3 to 5 years,NaN,Master's degree,NaN,NaN,Male,39.0
20,2017,NaN,NaN,United States,"Independent contractor, freelancer, or self-em...",Scientist/Researcher,More than 10 years,NaN,Master's degree,NaN,Retail,Male,49.0
21,2017,20000,USD,United States,Employed part-time,Researcher,3 to 5 years,I don't know,Bachelor's degree,6,Academic,Male,25.0
22,2017,100000,USD,United States,Employed full-time,Scientist/Researcher,Less than a year,Fewer than 10 employees,Doctoral degree,7,Telecommunications,Male,33.0
23,2017,20000,CZK,Czech Republic,Employed part-time,Other,Less than a year,Fewer than 10 employees,Some college/university study without earning ...,5,Academic,Male,21.0
24,2017,NaN,NaN,United States,Employed full-time,Software Developer/Software Engineer,3 to 5 years,500 to 999 employees,Master's degree,8,Other,Male,NaN
25,2017,624000,RUB,Russia,Employed full-time,Data Analyst,1 to 2 years,"5,000 to 9,999 employees",Bachelor's degree,8,Mix of fields,Male,22.0
26,2017,65000,NaN,Netherlands,Employed full-time,Engineer,More than 10 years,"5,000 to 9,999 employees",Master's degree,7,Pharmaceutical,Male,51.0
27,2017,156000000,COP,Colombia,Employed full-time,Data Scientist,3 to 5 years,"10,000 or more employees",Master's degree,9,Financial,Male,34.0
28,2017,150000,EUR,Germany,"Independent contractor, freelancer, or self-em...",Data Scientist,More than 10 years,NaN,I did not complete any formal education past h...,8,Internet-based,Male,41.0
29,2017,NaN,NaN,Canada,"Not employed, and not looking for work",NaN,NaN,NaN,Master's degree,NaN,NaN,Female,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16686,2017,NaN,NaN,Finland,Employed full-time,Business Analyst,1 to 2 years,"10,000 or more employees",Master's degree,NaN,CRM/Marketing,Male,38.0
16687,2017,NaN,NaN,Malaysia,"Independent contractor, freelancer, or self-em...",Business Analyst,More than 10 years,NaN,Bachelor's degree,6,Manufacturing,Male,55.0
16688,2017,NaN,NaN,Iran,"Independent contractor, freelancer, or self-em...",Statistician,I don't write code to analyze data,NaN,Some college/university study without earning ...,NaN,NaN,Female,22.0
16689,2017,NaN,NaN,Israel,Employed part-time,Programmer,1 to 2 years,"10,000 or more employees",Bachelor's degree,NaN,Mix of fields,Female,42.0
16690,2017,NaN,NaN,Germany,Employed part-time,Scientist/Researcher,Less than a year,10 to 19 employees,Master's degree,NaN,Academic,Male,32.0
16691,2017,NaN,NaN,Poland,Employed full-time,Other,Less than a year,NaN,Some college/university study without earning ...,NaN,NaN,Male,39.0
16692,2017,NaN,NaN,Norway,Employed full-time,Data Analyst,1 to 2 years,20 to 99 employees,Bachelor's degree,NaN,Financial,Male,34.0
16693,2017,NaN,NaN,India,Employed full-time,Data Analyst,Less than a year,"10,000 or more employees",Master's degree,NaN,Financial,Male,28.0
16694,2017,NaN,NaN,United States,"Independent contractor, freelancer, or self-em...",Data Scientist,3 to 5 years,NaN,Master's degree,NaN,Government,Male,NaN
16695,2017,NaN,NaN,India,Employed full-time,Business Analyst,1 to 2 years,20 to 99 employees,Master's degree,NaN,Technology,Male,24.0
16696,2017,NaN,NaN,People 's Republic of China,"Not employed, and not looking for work",NaN,NaN,NaN,Master's degree,NaN,NaN,Male,24.0
16697,2017,NaN,NaN,Other,Employed full-time,Other,Less than a year,NaN,Master's degree,NaN,Mix of fields,Male,32.0
16698,2017,NaN,NaN,Australia,Employed full-time,Data Analyst,3 to 5 years,"1,000 to 4,999 employees",Master's degree,NaN,Government,Male,NaN
16699,2017,NaN,NaN,People 's Republic of China,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Male,30.0
16700,2017,10000,USD,South Korea,"Independent contractor, freelancer, or self-em...",Data Scientist,More than 10 years,NaN,Master's degree,6,Financial,Male,45.0
16701,2017,NaN,NaN,India,Employed full-time,Data Scientist,More than 10 years,"10,000 or more employees",Bachelor's degree,NaN,Technology,Male,33.0
16702,2017,NaN,NaN,Australia,Employed full-time,Data Analyst,1 to 2 years,NaN,Bachelor's degree,NaN,Financial,Male,25.0
16703,2017,NaN,NaN,Other,Employed full-time,Data Analyst,1 to 2 years,500 to 999 employees,Bachelor's degree,NaN,Financial,Male,25.0
16704,2017,NaN,NaN,Indonesia,"Not employed, but looking for work",NaN,Less than a year,NaN,Master's degree,NaN,NaN,Male,26.0
16705,2017,NaN,NaN,India,"Not employed, but looking for work",NaN,1 to 2 years,NaN,Bachelor's degree,NaN,NaN,Male,28.0
16706,2017,NaN,NaN,Australia,Employed full-time,Other,More than 10 years,"5,000 to 9,999 employees",Bachelor's degree,NaN,Mix of fields,Male,NaN
16707,2017,NaN,NaN,Indonesia,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Female,30.0
16708,2017,NaN,NaN,Indonesia,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Male,21.0
16709,2017,NaN,NaN,People 's Republic of China,Employed full-time,DBA/Database Engineer,3 to 5 years,"10,000 or more employees",Master's degree,NaN,Financial,Male,34.0
16710,2017,NaN,NaN,People 's Republic of China,"Not employed, but looking for work",NaN,NaN,NaN,Bachelor's degree,NaN,NaN,Male,23.0
16711,2017,NaN,NaN,Other,"Not employed, but looking for work",NaN,Less than a year,NaN,Master's degree,NaN,NaN,Female,24.0
16712,2017,NaN,IDR,Indonesia,Employed full-time,Programmer,1 to 2 years,10 to 19 employees,Bachelor's degree,7,Mix of fields,Male,25.0
16713,2017,NaN,NaN,Taiwan,Employed part-time,NaN,NaN,NaN,NaN,NaN,NaN,Female,25.0
16714,2017,NaN,NaN,Singapore,I prefer not to say,NaN,NaN,NaN,I prefer not to answer,NaN,NaN,Female,16.0
16715,2017,NaN,NaN,Japan,Employed full-time,Programmer,NaN,NaN,I did not complete any formal education past h...,NaN,NaN,Male,27.0

In [482]:
relevantVars18 = ['Survey Year',
                  'SalaryUSD',
                  'Country',
                  'CurrentJobTitleSelect',
                  'Tenure',
                  'FormalEducation',
                  'EmployerIndustry',
                  'GenderSelect',
                  'Age'] 

df_KGL18_da = df_KGLresponse18[relevantVars18]
df_KGL18_da.shape

,Survey Year,SalaryUSD,Country,CurrentJobTitleSelect,Tenure,FormalEducation,EmployerIndustry,GenderSelect,Age
0,2018,What is your current yearly compensation (appr...,In which country do you currently reside?,Select the title most similar to your current ...,How many years of experience do you have in yo...,What is the highest level of formal education ...,In what industry is your current employer/cont...,What is your gender? - Selected Choice,What is your age (# years)?
1,2018,NaN,United States of America,Consultant,NaN,Doctoral degree,Other,Female,45-49
2,2018,"10-20,000",Indonesia,Other,5-10,Bachelorâs degree,Manufacturing/Fabrication,Male,30-34
3,2018,"0-10,000",United States of America,Data Scientist,0-1,Masterâs degree,I am a student,Female,30-34
4,2018,NaN,United States of America,Not employed,NaN,Masterâs degree,NaN,Male,35-39
5,2018,"0-10,000",India,Data Analyst,0-1,Masterâs degree,I am a student,Male,22-24
6,2018,I do not wish to disclose my approximate yearl...,Colombia,Data Scientist,0-1,Bachelorâs degree,Computers/Technology,Male,25-29
7,2018,"10-20,000",Chile,Other,10-15,Doctoral degree,Academics/Education,Male,35-39
8,2018,"0-10,000",India,Other,0-1,Masterâs degree,Other,Male,18-21
9,2018,NaN,Turkey,Not employed,NaN,Masterâs degree,NaN,Male,25-29
10,2018,"20-30,000",Hungary,Software Engineer,3-4,Masterâs degree,Online Service/Internet-based Services,Male,30-34
11,2018,I do not wish to disclose my approximate yearl...,Ireland,Student,3-4,Bachelorâs degree,I am a student,Male,22-24
12,2018,"125-150,000",United States of America,Data Scientist,5-10,Masterâs degree,Other,Male,40-44
13,2018,"30-40,000",France,Student,NaN,Doctoral degree,I am a student,Male,25-29
14,2018,"30-40,000",United States of America,Research Assistant,1-2,Bachelorâs degree,Academics/Education,Male,25-29
15,2018,"10-20,000",Argentina,Data Analyst,1-2,Bachelorâs degree,Other,Female,25-29
16,2018,"30-40,000",Japan,Data Scientist,0-1,Masterâs degree,Medical/Pharmaceutical,Male,25-29
17,2018,"50-60,000",Colombia,Data Scientist,1-2,Masterâs degree,Energy/Mining,Male,40-44
18,2018,"0-10,000",Nigeria,Other,2-3,Professional degree,Retail/Sales,Male,25-29
19,2018,"100-125,000",United States of America,Other,5-10,Some college/university study without earning ...,Military/Security/Defense,Male,35-39
20,2018,"30-40,000",Spain,Data Scientist,5-10,Some college/university study without earning ...,Energy/Mining,Male,55-59
21,2018,"50-60,000",Other,Chief Officer,0-1,Masterâs degree,Computers/Technology,Female,30-34
22,2018,NaN,Nigeria,Student,NaN,Bachelorâs degree,I am a student,Female,25-29
23,2018,"90-100,000",United States of America,Manager,2-3,Bachelorâs degree,Insurance/Risk Assessment,Male,30-34
24,2018,"0-10,000","Iran, Islamic Republic of...",Research Scientist,0-1,Masterâs degree,Computers/Technology,Female,25-29
25,2018,"70-80,000",United Kingdom of Great Britain and Northern I...,Data Scientist,5-10,Masterâs degree,Online Service/Internet-based Services,Male,30-34
26,2018,"0-10,000",Turkey,Research Assistant,1-2,Masterâs degree,Academics/Education,Male,25-29
27,2018,"0-10,000",India,Other,2-3,Bachelorâs degree,Other,Male,30-34
28,2018,"80-90,000",United States of America,Data Analyst,2-3,Masterâs degree,Computers/Technology,Female,30-34
29,2018,"10-20,000",Poland,Business Analyst,10-15,Masterâs degree,Computers/Technology,Female,40-44
...,...,...,...,...,...,...,...,...,...
23830,2018,NaN,France,Data Engineer,20-25,Bachelorâs degree,Computers/Technology,Male,45-49
23831,2018,I do not wish to disclose my approximate yearl...,Russia,Student,3-4,Bachelorâs degree,I am a student,Female,18-21
23832,2018,NaN,Belgium,Not employed,NaN,Bachelorâs degree,NaN,Male,35-39
23833,2018,"0-10,000",Turkey,Data Engineer,0-1,Bachelorâs degree,Insurance/Risk Assessment,Male,18-21
23834,2018,I do not wish to disclose my approximate yearl...,Czech Republic,Student,2-3,Bachelorâs degree,I am a student,Male,18-21
23835,2018,I do not wish to disclose my approximate yearl...,Israel,Student,4-5,Bachelorâs degree,I am a student,Female,25-29
23836,2018,"10-20,000",Russia,Product/Project Manager,2-3,Masterâs degree,Shipping/Transportation,Male,25-29
23837,2018,NaN,Turkey,NaN,NaN,Masterâs degree,NaN,Female,22-24
23838,2018,I do not wish to disclose my approximate yearl...,Netherlands,Data Scientist,0-1,Masterâs degree,Accounting/Finance,Prefer not to say,40-44
23839,2018,"0-10,000",Turkey,Data Analyst,1-2,Bachelorâs degree,Computers/Technology,Male,22-24
23840,2018,NaN,Turkey,Software Engineer,1-2,Masterâs degree,Computers/Technology,Female,25-29
23841,2018,"10-20,000",India,Student,20-25,Masterâs degree,Computers/Technology,Female,22-24
23842,2018,"0-10,000",Russia,Student,0-1,Masterâs degree,I am a student,Male,18-21
23843,2018,NaN,Spain,Not employed,NaN,Masterâs degree,NaN,Male,50-54
23844,2018,"90-100,000",Netherlands,Software Engineer,10-15,Masterâs degree,Computers/Technology,Male,30-34
23845,2018,"0-10,000",Romania,Student,0-1,Masterâs degree,I am a student,Male,22-24
23846,2018,NaN,India,Student,NaN,No formal education past high school,I am a student,Female,18-21
23847,2018,NaN,Pakistan,Not employed,NaN,Masterâs degree,NaN,Male,25-29
23848,2018,I do not wish to disclose my approximate yearl...,Germany,Consultant,10-15,Masterâs degree,Shipping/Transportation,Male,40-44
23849,2018,NaN,Turkey,Software Engineer,NaN,Masterâs degree,NaN,Male,25-29
23850,2018,I do not wish to disclose my approximate yearl...,India,Data Analyst,1-2,Masterâs degree,I am a student,Female,18-21
23851,2018,NaN,Turkey,Not employed,NaN,Masterâs degree,NaN,Male,22-24
23852,2018,NaN,Turkey,NaN,NaN,NaN,NaN,Female,18-21
23853,2018,NaN,Turkey,NaN,NaN,Masterâs degree,NaN,Female,30-34
23854,2018,"10-20,000",Turkey,Research Assistant,5-10,Doctoral degree,Academics/Education,Male,30-34
23855,2018,"250-300,000",France,Chief Officer,5-10,Doctoral degree,Computers/Technology,Male,45-49
23856,2018,NaN,Turkey,NaN,NaN,Masterâs degree,NaN,Female,25-29
23857,2018,"10-20,000",Turkey,Software Engineer,0-1,Masterâs degree,Computers/Technology,Male,22-24
23858,2018,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,NaN,Male,25-29
23859,2018,NaN,Spain,NaN,NaN,Masterâs degree,NaN,Male,25-29

In [483]:
df_KGLresponse19 = df_KGLresponse19.rename(columns={'Q1': 'Age', 'Q2': 'GenderSelect', 'Q3': 'Country', 'Q4': 'FormalEducation', 'Q5': 'CurrentJobTitleSelect', 'Q6' : 'EmployerSize', 'Q10' : 'SalaryUSD', 'Q15' : 'Tenure'})
relevantVars19 = ['Survey Year',
                  'SalaryUSD',
                  'Country',
                  'CurrentJobTitleSelect',
                  'Tenure',
                  'FormalEducation',
                  'EmployerSize',
                  'GenderSelect',
                  'Age'] 

df_KGL19_da = df_KGLresponse19[relevantVars19]
df_KGL19_da.shape

,Survey Year,SalaryUSD,Country,CurrentJobTitleSelect,Tenure,FormalEducation,EmployerSize,GenderSelect,Age
0,2019,What is your current yearly compensation (appr...,In which country do you currently reside?,Select the title most similar to your current ...,How long have you been writing code to analyze...,What is the highest level of formal education ...,What is the size of the company where you are ...,What is your gender? - Selected Choice,What is your age (# years)?
1,2019,"30,000-39,999",France,Software Engineer,1-2 years,Masterâs degree,"1000-9,999 employees",Male,22-24
2,2019,"5,000-7,499",India,Software Engineer,I have never written code,Professional degree,"> 10,000 employees",Male,40-44
3,2019,NaN,Germany,NaN,NaN,Professional degree,NaN,Female,55-59
4,2019,"250,000-299,999",Australia,Other,1-2 years,Masterâs degree,"> 10,000 employees",Male,40-44
5,2019,"4,000-4,999",India,Other,< 1 years,Bachelorâs degree,0-49 employees,Male,22-24
6,2019,"60,000-69,999",France,Data Scientist,20+ years,Masterâs degree,0-49 employees,Male,50-54
7,2019,"10,000-14,999",India,Data Scientist,3-5 years,Masterâs degree,50-249 employees,Male,22-24
8,2019,"80,000-89,999",United States of America,Data Scientist,3-5 years,Bachelorâs degree,"> 10,000 employees",Female,22-24
9,2019,NaN,United States of America,Student,3-5 years,Bachelorâs degree,NaN,Male,22-24
10,2019,$0-999,Netherlands,Other,5-10 years,Masterâs degree,0-49 employees,Male,55-59
11,2019,NaN,India,Student,< 1 years,Some college/university study without earning ...,NaN,Male,18-21
12,2019,"2,000-2,999",Germany,Statistician,5-10 years,Masterâs degree,0-49 employees,Male,30-34
13,2019,"70,000-79,999",Germany,Data Scientist,5-10 years,Bachelorâs degree,50-249 employees,Male,30-34
14,2019,"90,000-99,999",United States of America,Product/Project Manager,3-5 years,Masterâs degree,"> 10,000 employees",Male,30-34
15,2019,NaN,India,Other,NaN,Bachelorâs degree,"1000-9,999 employees",Male,25-29
16,2019,"125,000-149,999",United States of America,Data Analyst,10-20 years,Masterâs degree,50-249 employees,Female,50-54
17,2019,$0-999,Australia,Software Engineer,1-2 years,Bachelorâs degree,0-49 employees,Male,18-21
18,2019,NaN,India,Student,1-2 years,Some college/university study without earning ...,NaN,Male,18-21
19,2019,$0-999,France,Product/Project Manager,3-5 years,Masterâs degree,"> 10,000 employees",Male,35-39
20,2019,"40,000-49,999",France,Research Scientist,5-10 years,Doctoral degree,50-249 employees,Male,25-29
21,2019,"20,000-24,999",Ireland,Data Analyst,1-2 years,Masterâs degree,"1000-9,999 employees",Female,22-24
22,2019,"125,000-149,999",United States of America,Other,5-10 years,Bachelorâs degree,250-999 employees,Male,35-39
23,2019,$0-999,India,Business Analyst,< 1 years,Masterâs degree,"> 10,000 employees",Male,25-29
24,2019,"10,000-14,999",Russia,Software Engineer,1-2 years,Masterâs degree,50-249 employees,Male,40-44
25,2019,"15,000-19,999",Greece,Research Scientist,5-10 years,Masterâs degree,250-999 employees,Male,25-29
26,2019,"20,000-24,999",Greece,Software Engineer,1-2 years,Masterâs degree,0-49 employees,Male,30-34
27,2019,"100,000-124,999",India,Software Engineer,10-20 years,Masterâs degree,0-49 employees,Male,35-39
28,2019,NaN,United States of America,Student,1-2 years,Doctoral degree,NaN,Male,25-29
29,2019,$0-999,Ukraine,Research Scientist,3-5 years,Doctoral degree,"1000-9,999 employees",Female,30-34
...,...,...,...,...,...,...,...,...,...
19688,2019,NaN,India,Not employed,NaN,Bachelorâs degree,NaN,Male,25-29
19689,2019,NaN,Bangladesh,Not employed,< 1 years,Bachelorâs degree,NaN,Male,22-24
19690,2019,NaN,India,Data Scientist,NaN,Bachelorâs degree,50-249 employees,Male,22-24
19691,2019,"60,000-69,999",Australia,Other,3-5 years,Bachelorâs degree,"1000-9,999 employees",Male,25-29
19692,2019,"7,500-9,999",India,Data Scientist,NaN,Masterâs degree,"> 10,000 employees",Female,30-34
19693,2019,NaN,Japan,NaN,NaN,Bachelorâs degree,NaN,Male,35-39
19694,2019,NaN,India,Data Scientist,NaN,Masterâs degree,0-49 employees,Male,25-29
19695,2019,"4,000-4,999",India,Software Engineer,NaN,Bachelorâs degree,"> 10,000 employees",Female,22-24
19696,2019,NaN,Japan,Software Engineer,NaN,Bachelorâs degree,NaN,Female,25-29
19697,2019,NaN,Australia,Student,NaN,Bachelorâs degree,NaN,Prefer not to say,18-21
19698,2019,$0-999,India,Software Engineer,NaN,Professional degree,"> 10,000 employees",Male,25-29
19699,2019,NaN,India,Software Engineer,NaN,Bachelorâs degree,"1000-9,999 employees",Male,22-24
19700,2019,NaN,Brazil,Data Analyst,NaN,Professional degree,250-999 employees,Male,70+
19701,2019,$0-999,Other,Software Engineer,NaN,Bachelorâs degree,0-49 employees,Male,22-24
19702,2019,NaN,Pakistan,Student,1-2 years,Bachelorâs degree,NaN,Male,18-21
19703,2019,$0-999,India,Data Scientist,NaN,Doctoral degree,0-49 employees,Male,18-21
19704,2019,"7,500-9,999",India,Data Scientist,NaN,Bachelorâs degree,50-249 employees,Male,22-24
19705,2019,NaN,China,Student,< 1 years,Bachelorâs degree,NaN,Male,18-21
19706,2019,NaN,India,NaN,NaN,NaN,NaN,Male,18-21
19707,2019,NaN,India,Data Engineer,NaN,Bachelorâs degree,0-49 employees,Male,18-21
19708,2019,NaN,Viet Nam,NaN,NaN,NaN,NaN,Male,18-21
19709,2019,NaN,India,Not employed,NaN,Professional degree,NaN,Female,25-29
19710,2019,"1,000-1,999",Austria,Data Scientist,NaN,No formal education past high school,250-999 employees,Prefer not to say,25-29
19711,2019,NaN,India,Data Scientist,NaN,Bachelorâs degree,50-249 employees,Male,22-24
19712,2019,NaN,India,Student,NaN,Masterâs degree,NaN,Male,18-21
19713,2019,NaN,Japan,NaN,NaN,NaN,NaN,Male,50-54
19714,2019,$0-999,India,Other,1-2 years,Bachelorâs degree,250-999 employees,Male,18-21
19715,2019,NaN,India,Student,NaN,Masterâs degree,NaN,Male,35-39
19716,2019,"1,000-1,999",India,Statistician,NaN,Masterâs degree,50-249 employees,Male,25-29
19717,2019,"60,000-69,999",France,Software Engineer,3-5 years,Bachelorâs degree,"> 10,000 employees",Male,50-54

**Assumptions:**
+ `Tenure`(How long have you been writing code to analyze data?) and `YearsWithinThisTypeOfJob` are comparable variables. Although they might not capture the exact same meaning, they still have large contextual intersection. In reality, we would perhaps expect `Tenure` to be slightly longer than `YearsWithinThisTypeOfJob` for a given person. However, in most cases `YearsWithinThisTypeOfJob` cannot be shorter than Tenure, i.e. one needs to be able to write code to work as a (DB) engineer in the Information Sector.

In [527]:
relevantVarsOZR = ['Survey Year',
                  'SalaryUSD',
                  'Country',
                  'EmploymentStatus',
                  'JobTitle',
                  'YearsWithThisTypeOfJob',
                  'CompanyEmployeesOverall',
                  'Education',
                  'LookingForAnotherJob',
                  'Gender']  # leave HoursWorkedPerWeek,PopulationOfLargestCityWithin20Miles out for now (conflict with other dataset)
df_OZRresponse_da = df_OZRresponse[relevantVarsOZR]

In [528]:
df_OZRresponse_da.shape

(6893, 10)

### 1.1.4 Initial Cleaning of the Data, Making the Data Compatible

+ Compute the salary in USD for the 2017 respondents. In order to do so, we must draw from the conversion rates for some point in time in 2017. According to the website, the survey was live from August 7th to August 25th. Therefore, lets take the conversion rates from end of August 2017.

In [500]:
df_KGL17_da.loc[:,'CompensationAmount']=df_KGL17_da.loc[:,'CompensationAmount'].str.replace('-','')
df_KGL17_da.loc[:,'CompensationAmount']=df_KGL17_da.loc[:,'CompensationAmount'].str.replace(',','')
df_KGL17_da.loc[:,'CompensationAmount']=df_KGL17_da.loc[:,'CompensationAmount'].str.replace("'",'')

Conv_rates = pd.read_csv('conversionRates17.csv')
Conv_rates.drop('Unnamed: 0',axis=1,inplace=True)
#run only once!
df_KGL17_da = df_KGL17_da.merge(Conv_rates,left_on='CompensationCurrency',right_on='originCountry',how='left')
df_KGL17_da['Salary'] = pd.to_numeric(salary['CompensationAmount'])*salary['exchangeRate']

+ Rearrange `SalaryUSD` column to match other dataframes:

In [501]:
colNew = df_KGL17_da.loc[:,'Salary']
df_KGL17_da.insert(loc=2, column='SalaryUSD', value=np.round(colNew,0))
df_KGL17_da = df_KGL17_da.drop(columns=['CompensationAmount','CompensationCurrency','originCountry', 'exchangeRate','Salary'])

+ In the 2018 and 2019 data `SalaryUSD` is only specified on an interval. We need one fixed value, hence we have to deal with this. For the purpose of this analysis, we exclude the highrollers with more than $500,000$ USD annual salary (we loose only 63 entries from KGL18). - Only run this section once!

In [488]:
print(len(df_KGL18_da[df_KGL18_da.loc[:,'SalaryUSD']=='500,000+']))       
df_KGL18_da = df_KGL18_da[df_KGL18_da.loc[:,'SalaryUSD'].notna()]
df_KGL18_da = df_KGL18_da[~df_KGL18_da.loc[:,'SalaryUSD'].str.startswith('I')]
df_KGL18_da = df_KGL18_da[~df_KGL18_da['SalaryUSD'].str.contains('500,000+')] 
df_KGL18_da.loc[:,'SalaryUSD'] =df_KGL18_da.loc[:,'SalaryUSD'] .astype(str)
df_KGL18_da = df_KGL18_da.drop(0).reset_index(drop=True)

63

In [489]:
df_KGL18_da.loc[:,'lowerBound'] = df_KGL18_da.loc[:,'SalaryUSD'].apply(lambda x: x.partition('-')[0] if x[0].isdigit() else x)
df_KGL18_da.loc[:,'upperBound'] = df_KGL18_da.loc[:,'SalaryUSD'].apply(lambda x: x.partition('-')[2] if x[0].isdigit() else x)

                                                                                                                     
df_KGL18_da.loc[:,'upperBound']=df_KGL18_da.loc[:,'upperBound'].str.replace('-','')
df_KGL18_da.loc[:,'upperBound']=df_KGL18_da.loc[:,'upperBound'].str.replace(',','')
df_KGL18_da.loc[:,'upperBound']=df_KGL18_da.loc[:,'upperBound'].str.replace("'",'')

df_KGL18_da = df_KGL18_da.astype({'lowerBound': 'int64','upperBound' : 'int64'})
df_KGL18_da.loc[:,'lowerBound'] = df_KGL18_da.loc[:,'lowerBound'].apply(lambda x: x * 1000)
df_KGL18_da.loc[:,'SalaryUSD'] = (df_KGL18_da.loc[:,'lowerBound']+df_KGL18_da.loc[:,'upperBound'])/2
df_KGL18_da = df_KGL18_da.astype({'SalaryUSD': 'int64'})
df_KGL18_da = df_KGL18_da.drop(columns=['lowerBound','upperBound'])
df_KGL18_da

,Survey Year,SalaryUSD,Country,CurrentJobTitleSelect,Tenure,FormalEducation,EmployerIndustry,GenderSelect,Age
0,2018,15000,Indonesia,Other,5-10,Bachelorâs degree,Manufacturing/Fabrication,Male,30-34
1,2018,5000,United States of America,Data Scientist,0-1,Masterâs degree,I am a student,Female,30-34
2,2018,5000,India,Data Analyst,0-1,Masterâs degree,I am a student,Male,22-24
3,2018,15000,Chile,Other,10-15,Doctoral degree,Academics/Education,Male,35-39
4,2018,5000,India,Other,0-1,Masterâs degree,Other,Male,18-21
5,2018,25000,Hungary,Software Engineer,3-4,Masterâs degree,Online Service/Internet-based Services,Male,30-34
6,2018,137500,United States of America,Data Scientist,5-10,Masterâs degree,Other,Male,40-44
7,2018,35000,France,Student,NaN,Doctoral degree,I am a student,Male,25-29
8,2018,35000,United States of America,Research Assistant,1-2,Bachelorâs degree,Academics/Education,Male,25-29
9,2018,15000,Argentina,Data Analyst,1-2,Bachelorâs degree,Other,Female,25-29
10,2018,35000,Japan,Data Scientist,0-1,Masterâs degree,Medical/Pharmaceutical,Male,25-29
11,2018,55000,Colombia,Data Scientist,1-2,Masterâs degree,Energy/Mining,Male,40-44
12,2018,5000,Nigeria,Other,2-3,Professional degree,Retail/Sales,Male,25-29
13,2018,112500,United States of America,Other,5-10,Some college/university study without earning ...,Military/Security/Defense,Male,35-39
14,2018,35000,Spain,Data Scientist,5-10,Some college/university study without earning ...,Energy/Mining,Male,55-59
15,2018,55000,Other,Chief Officer,0-1,Masterâs degree,Computers/Technology,Female,30-34
16,2018,95000,United States of America,Manager,2-3,Bachelorâs degree,Insurance/Risk Assessment,Male,30-34
17,2018,5000,"Iran, Islamic Republic of...",Research Scientist,0-1,Masterâs degree,Computers/Technology,Female,25-29
18,2018,75000,United Kingdom of Great Britain and Northern I...,Data Scientist,5-10,Masterâs degree,Online Service/Internet-based Services,Male,30-34
19,2018,5000,Turkey,Research Assistant,1-2,Masterâs degree,Academics/Education,Male,25-29
20,2018,5000,India,Other,2-3,Bachelorâs degree,Other,Male,30-34
21,2018,85000,United States of America,Data Analyst,2-3,Masterâs degree,Computers/Technology,Female,30-34
22,2018,15000,Poland,Business Analyst,10-15,Masterâs degree,Computers/Technology,Female,40-44
23,2018,15000,Kenya,Software Engineer,2-3,Bachelorâs degree,Computers/Technology,Female,25-29
24,2018,75000,Denmark,Business Analyst,1-2,Masterâs degree,Hospitality/Entertainment/Sports,Male,30-34
25,2018,112500,Netherlands,Data Scientist,0-1,Masterâs degree,Broadcasting/Communications,Male,35-39
26,2018,65000,Sweden,Data Scientist,1-2,Masterâs degree,Accounting/Finance,Female,25-29
27,2018,95000,Ukraine,Software Engineer,5-10,Masterâs degree,Computers/Technology,Male,30-34
28,2018,35000,Canada,Software Engineer,0-1,Doctoral degree,Computers/Technology,Male,22-24
29,2018,85000,Australia,Data Scientist,2-3,Doctoral degree,Academics/Education,Male,30-34
...,...,...,...,...,...,...,...,...,...
15313,2018,5000,India,Other,10-15,Bachelorâs degree,Medical/Pharmaceutical,Male,35-39
15314,2018,15000,Poland,Data Analyst,0-1,Masterâs degree,Accounting/Finance,Male,25-29
15315,2018,25000,Turkey,Data Analyst,2-3,Doctoral degree,Other,Male,25-29
15316,2018,5000,Other,Student,0-1,Bachelorâs degree,Non-profit/Service,Male,18-21
15317,2018,15000,Pakistan,Data Scientist,4-5,Bachelorâs degree,Computers/Technology,Male,30-34
15318,2018,25000,India,Product/Project Manager,10-15,Professional degree,Computers/Technology,Female,40-44
15319,2018,5000,Hungary,Software Engineer,0-1,Masterâs degree,Government/Public Service,Male,35-39
15320,2018,95000,Germany,Data Analyst,5-10,Masterâs degree,Computers/Technology,Male,30-34
15321,2018,15000,Russia,Software Engineer,4-5,Bachelorâs degree,Online Service/Internet-based Services,Female,25-29
15322,2018,25000,Other,Statistician,5-10,Doctoral degree,Government/Public Service,Male,30-34
15323,2018,75000,Sweden,Data Scientist,1-2,Masterâs degree,Computers/Technology,Prefer not to say,35-39
15324,2018,5000,India,DBA/Database Engineer,3-4,Bachelorâs degree,Insurance/Risk Assessment,Male,25-29
15325,2018,25000,Russia,Research Scientist,5-10,Doctoral degree,Academics/Education,Male,35-39
15326,2018,5000,India,Data Scientist,5-10,Masterâs degree,Computers/Technology,Male,30-34
15327,2018,15000,Turkey,Software Engineer,2-3,Masterâs degree,Computers/Technology,Male,25-29
15328,2018,35000,Ukraine,Manager,2-3,Masterâs degree,Computers/Technology,Male,40-44
15329,2018,5000,Turkey,Data Scientist,0-1,Masterâs degree,Academics/Education,Male,22-24
15330,2018,5000,Pakistan,Software Engineer,1-2,Bachelorâs degree,Computers/Technology,Male,25-29
15331,2018,75000,United Kingdom of Great Britain and Northern I...,Research Scientist,10-15,Doctoral degree,Academics/Education,Male,35-39
15332,2018,5000,Ukraine,Other,0-1,Masterâs degree,Computers/Technology,Male,25-29
15333,2018,5000,Turkey,Data Engineer,0-1,Bachelorâs degree,Insurance/Risk Assessment,Male,18-21
15334,2018,15000,Russia,Product/Project Manager,2-3,Masterâs degree,Shipping/Transportation,Male,25-29
15335,2018,5000,Turkey,Data Analyst,1-2,Bachelorâs degree,Computers/Technology,Male,22-24
15336,2018,15000,India,Student,20-25,Masterâs degree,Computers/Technology,Female,22-24
15337,2018,5000,Russia,Student,0-1,Masterâs degree,I am a student,Male,18-21
15338,2018,95000,Netherlands,Software Engineer,10-15,Masterâs degree,Computers/Technology,Male,30-34
15339,2018,5000,Romania,Student,0-1,Masterâs degree,I am a student,Male,22-24
15340,2018,15000,Turkey,Research Assistant,5-10,Doctoral degree,Academics/Education,Male,30-34
15341,2018,275000,France,Chief Officer,5-10,Doctoral degree,Computers/Technology,Male,45-49
15342,2018,15000,Turkey,Software Engineer,0-1,Masterâs degree,Computers/Technology,Male,22-24

In [490]:
df_KGL19_da = df_KGL19_da[df_KGL19_da.loc[:,'SalaryUSD'].notna()]
df_KGL19_da.loc[:,'SalaryUSD'] = df_KGL19_da.loc[:,'SalaryUSD'].astype(str)
df_KGL19_da = df_KGL19_da.drop(0).reset_index(drop=True)

In [491]:
df_KGL19_da.loc[:,'lowerBound'] = df_KGL19_da.loc[:,'SalaryUSD'].apply(lambda x: x.partition('-')[0] if x[0].isdigit() else ('500' if x[0] == '$' else x))
df_KGL19_da.loc[:,'upperBound'] = df_KGL19_da.loc[:,'SalaryUSD'].apply(lambda x: x.partition('-')[2] if x[0].isdigit() else ('500' if x[0] == '$' else x))

df_KGL19_da.loc[:,'upperBound']=df_KGL19_da.loc[:,'upperBound'].str.replace('-','')
df_KGL19_da.loc[:,'upperBound']=df_KGL19_da.loc[:,'upperBound'].str.replace(',','')
df_KGL19_da.loc[:,'upperBound']=df_KGL19_da.loc[:,'upperBound'].str.replace("'",'')
df_KGL19_da.loc[:,'lowerBound']=df_KGL19_da.loc[:,'lowerBound'].str.replace('-','')
df_KGL19_da.loc[:,'lowerBound']=df_KGL19_da.loc[:,'lowerBound'].str.replace(',','')
df_KGL19_da.loc[:,'lowerBound']=df_KGL19_da.loc[:,'lowerBound'].str.replace("'",'')

df_KGL19_da = df_KGL19_da[~df_KGL19_da['upperBound'].str.startswith('>')]
df_KGL19_da = df_KGL19_da.astype({'lowerBound': 'int64','upperBound' : 'int64'})

df_KGL19_da.loc[:,'SalaryUSD'] = np.round((df_KGL19_da.loc[:,'lowerBound']+df_KGL19_da.loc[:,'upperBound'])/2,0)
df_KGL19_da = df_KGL19_da.astype({'SalaryUSD': 'int64'})
df_KGL19_da = df_KGL19_da.drop(columns=['lowerBound','upperBound'])
df_KGL19_da

,Survey Year,SalaryUSD,Country,CurrentJobTitleSelect,Tenure,FormalEducation,EmployerSize,GenderSelect,Age
0,2019,35000,France,Software Engineer,1-2 years,Masterâs degree,"1000-9,999 employees",Male,22-24
1,2019,6250,India,Software Engineer,I have never written code,Professional degree,"> 10,000 employees",Male,40-44
2,2019,275000,Australia,Other,1-2 years,Masterâs degree,"> 10,000 employees",Male,40-44
3,2019,4500,India,Other,< 1 years,Bachelorâs degree,0-49 employees,Male,22-24
4,2019,65000,France,Data Scientist,20+ years,Masterâs degree,0-49 employees,Male,50-54
5,2019,12500,India,Data Scientist,3-5 years,Masterâs degree,50-249 employees,Male,22-24
6,2019,85000,United States of America,Data Scientist,3-5 years,Bachelorâs degree,"> 10,000 employees",Female,22-24
7,2019,500,Netherlands,Other,5-10 years,Masterâs degree,0-49 employees,Male,55-59
8,2019,2500,Germany,Statistician,5-10 years,Masterâs degree,0-49 employees,Male,30-34
9,2019,75000,Germany,Data Scientist,5-10 years,Bachelorâs degree,50-249 employees,Male,30-34
10,2019,95000,United States of America,Product/Project Manager,3-5 years,Masterâs degree,"> 10,000 employees",Male,30-34
11,2019,137500,United States of America,Data Analyst,10-20 years,Masterâs degree,50-249 employees,Female,50-54
12,2019,500,Australia,Software Engineer,1-2 years,Bachelorâs degree,0-49 employees,Male,18-21
13,2019,500,France,Product/Project Manager,3-5 years,Masterâs degree,"> 10,000 employees",Male,35-39
14,2019,45000,France,Research Scientist,5-10 years,Doctoral degree,50-249 employees,Male,25-29
15,2019,22500,Ireland,Data Analyst,1-2 years,Masterâs degree,"1000-9,999 employees",Female,22-24
16,2019,137500,United States of America,Other,5-10 years,Bachelorâs degree,250-999 employees,Male,35-39
17,2019,500,India,Business Analyst,< 1 years,Masterâs degree,"> 10,000 employees",Male,25-29
18,2019,12500,Russia,Software Engineer,1-2 years,Masterâs degree,50-249 employees,Male,40-44
19,2019,17500,Greece,Research Scientist,5-10 years,Masterâs degree,250-999 employees,Male,25-29
20,2019,22500,Greece,Software Engineer,1-2 years,Masterâs degree,0-49 employees,Male,30-34
21,2019,112500,India,Software Engineer,10-20 years,Masterâs degree,0-49 employees,Male,35-39
22,2019,500,Ukraine,Research Scientist,3-5 years,Doctoral degree,"1000-9,999 employees",Female,30-34
23,2019,500,Pakistan,Research Scientist,1-2 years,Masterâs degree,0-49 employees,Female,25-29
24,2019,95000,Japan,Software Engineer,1-2 years,Masterâs degree,"> 10,000 employees",Male,30-34
25,2019,8750,Japan,Data Scientist,5-10 years,Masterâs degree,0-49 employees,Male,30-34
26,2019,500,Other,Data Analyst,1-2 years,Masterâs degree,"1000-9,999 employees",Female,25-29
27,2019,175000,United States of America,Research Scientist,5-10 years,Masterâs degree,"> 10,000 employees",Female,30-34
28,2019,12500,Brazil,Data Scientist,1-2 years,Bachelorâs degree,"> 10,000 employees",Male,22-24
29,2019,8750,India,Other,3-5 years,Bachelorâs degree,"1000-9,999 employees",Male,25-29
...,...,...,...,...,...,...,...,...,...
12467,2019,12500,Other,Software Engineer,NaN,Doctoral degree,50-249 employees,Male,40-44
12468,2019,22500,South Korea,Data Engineer,NaN,Bachelorâs degree,0-49 employees,Male,22-24
12469,2019,6250,India,Data Scientist,NaN,Bachelorâs degree,"> 10,000 employees",Male,25-29
12470,2019,35000,Sweden,Statistician,3-5 years,Masterâs degree,"1000-9,999 employees",Male,22-24
12471,2019,500,Spain,Data Engineer,NaN,Masterâs degree,250-999 employees,Female,35-39
12472,2019,45000,Czech Republic,Other,NaN,Masterâs degree,"> 10,000 employees",Male,30-34
12473,2019,500,India,Software Engineer,NaN,Bachelorâs degree,250-999 employees,Male,18-21
12474,2019,500,India,Software Engineer,1-2 years,Masterâs degree,"> 10,000 employees",Male,25-29
12475,2019,6250,Turkey,Product/Project Manager,NaN,Masterâs degree,0-49 employees,Male,25-29
12476,2019,6250,India,Software Engineer,NaN,Bachelorâs degree,"> 10,000 employees",Male,22-24
12477,2019,500,India,Data Analyst,NaN,Bachelorâs degree,50-249 employees,Male,22-24
12478,2019,35000,Russia,Research Scientist,NaN,Masterâs degree,0-49 employees,Male,30-34
12479,2019,22500,China,Data Engineer,1-2 years,I prefer not to answer,250-999 employees,Male,25-29
12480,2019,6250,India,Business Analyst,NaN,I prefer not to answer,0-49 employees,Male,30-34
12481,2019,2500,South Korea,Data Analyst,NaN,No formal education past high school,0-49 employees,Female,25-29
12482,2019,500,India,Data Scientist,NaN,Bachelorâs degree,0-49 employees,Male,25-29
12483,2019,22500,Australia,Research Scientist,NaN,Doctoral degree,"1000-9,999 employees",Female,30-34
12484,2019,500,Bangladesh,Data Scientist,NaN,Masterâs degree,0-49 employees,Male,25-29
12485,2019,8750,China,Data Analyst,1-2 years,Masterâs degree,250-999 employees,Male,30-34
12486,2019,65000,Australia,Other,3-5 years,Bachelorâs degree,"1000-9,999 employees",Male,25-29
12487,2019,8750,India,Data Scientist,NaN,Masterâs degree,"> 10,000 employees",Female,30-34
12488,2019,4500,India,Software Engineer,NaN,Bachelorâs degree,"> 10,000 employees",Female,22-24
12489,2019,500,India,Software Engineer,NaN,Professional degree,"> 10,000 employees",Male,25-29
12490,2019,500,Other,Software Engineer,NaN,Bachelorâs degree,0-49 employees,Male,22-24
12491,2019,500,India,Data Scientist,NaN,Doctoral degree,0-49 employees,Male,18-21
12492,2019,8750,India,Data Scientist,NaN,Bachelorâs degree,50-249 employees,Male,22-24
12493,2019,1500,Austria,Data Scientist,NaN,No formal education past high school,250-999 employees,Prefer not to say,25-29
12494,2019,500,India,Other,1-2 years,Bachelorâs degree,250-999 employees,Male,18-21
12495,2019,1500,India,Statistician,NaN,Masterâs degree,50-249 employees,Male,25-29
12496,2019,65000,France,Software Engineer,3-5 years,Bachelorâs degree,"> 10,000 employees",Male,50-54

**Observation:** When only considering data without NaN for `SalaryUSD` in KGL18 and KGL19, the amount of data drops from $23000$ to $15000$ for KGL18 and $20000$ to $12000$ for KGL19. In KGL17, where respondents were asked for a specific salary figure, as opposed to a bracket, the amount of people who answer that question drops drastically from $17000$ to $4000$.

In [505]:
df_KGL17_Salary = df_KGL17_da[df_KGL17_da.loc[:,'SalaryUSD'].notna()]
df_KGL17_Salary.shape
df_KGL17_Salary = df_KGL17_Salary.astype({'SalaryUSD': 'int64'})
df_KGL17_Salary

,Survey Year,SalaryUSD,Country,EmploymentStatus,CurrentJobTitleSelect,Tenure,EmployerSize,FormalEducation,JobSatisfaction,EmployerIndustry,GenderSelect,Age
3,2017,250000,United States,"Independent contractor, freelancer, or self-em...",Operations Research Practitioner,More than 10 years,NaN,Master's degree,10 - Highly Satisfied,Mix of fields,Male,56.0
8,2017,64185,Australia,Employed full-time,Business Analyst,3 to 5 years,20 to 99 employees,Bachelor's degree,7,Non-profit,Female,43.0
9,2017,20882,Russia,Employed full-time,Software Developer/Software Engineer,1 to 2 years,20 to 99 employees,Bachelor's degree,7,Internet-based,Male,33.0
11,2017,1484,India,Employed full-time,Data Scientist,3 to 5 years,100 to 499 employees,Bachelor's degree,7,Mix of fields,Male,27.0
14,2017,36634,Taiwan,Employed full-time,Software Developer/Software Engineer,1 to 2 years,Fewer than 10 employees,Master's degree,5,Financial,Male,26.0
21,2017,20000,United States,Employed part-time,Researcher,3 to 5 years,I don't know,Bachelor's degree,6,Academic,Male,25.0
22,2017,100000,United States,Employed full-time,Scientist/Researcher,Less than a year,Fewer than 10 employees,Doctoral degree,7,Telecommunications,Male,33.0
23,2017,916,Czech Republic,Employed part-time,Other,Less than a year,Fewer than 10 employees,Some college/university study without earning ...,5,Academic,Male,21.0
25,2017,10859,Russia,Employed full-time,Data Analyst,1 to 2 years,"5,000 to 9,999 employees",Bachelor's degree,8,Mix of fields,Male,22.0
27,2017,53352,Colombia,Employed full-time,Data Scientist,3 to 5 years,"10,000 or more employees",Master's degree,9,Financial,Male,34.0
28,2017,179374,Germany,"Independent contractor, freelancer, or self-em...",Data Scientist,More than 10 years,NaN,I did not complete any formal education past h...,8,Internet-based,Male,41.0
31,2017,35419,Poland,Employed full-time,Software Developer/Software Engineer,Less than a year,20 to 99 employees,Master's degree,9,Pharmaceutical,Male,29.0
32,2017,172144,United Kingdom,Employed full-time,Data Scientist,More than 10 years,"10,000 or more employees",Doctoral degree,7,Financial,Male,36.0
34,2017,133000,United States,Employed full-time,Engineer,3 to 5 years,"10,000 or more employees",Doctoral degree,8,Technology,Male,35.0
37,2017,80000,Sweden,Employed full-time,Machine Learning Engineer,More than 10 years,"10,000 or more employees",Master's degree,9,Technology,Male,37.0
42,2017,35875,Portugal,Employed full-time,Data Scientist,3 to 5 years,"10,000 or more employees",Master's degree,7,Technology,Male,30.0
45,2017,11283,Mexico,Employed part-time,Data Scientist,1 to 2 years,Fewer than 10 employees,Some college/university study without earning ...,7,Technology,Male,26.0
61,2017,15000,Iran,Employed part-time,Scientist/Researcher,1 to 2 years,20 to 99 employees,Doctoral degree,6,Technology,Male,31.0
65,2017,1874,India,Employed full-time,Data Scientist,3 to 5 years,"10,000 or more employees",Master's degree,7,Technology,Male,29.0
67,2017,119583,France,Employed full-time,Data Scientist,3 to 5 years,"1,000 to 4,999 employees",Master's degree,8,Financial,Male,25.0
72,2017,43050,Spain,Employed full-time,Data Scientist,6 to 10 years,10 to 19 employees,Doctoral degree,5,Mix of fields,Male,38.0
75,2017,215000,United States,Employed full-time,Scientist/Researcher,More than 10 years,100 to 499 employees,Doctoral degree,8,Technology,Male,40.0
80,2017,7808,United States,Employed full-time,Engineer,3 to 5 years,"1,000 to 4,999 employees",Master's degree,6,CRM/Marketing,Male,25.0
81,2017,77729,Germany,Employed full-time,Other,3 to 5 years,500 to 999 employees,Master's degree,7,Internet-based,Male,44.0
86,2017,83500,United States,Employed full-time,Scientist/Researcher,6 to 10 years,500 to 999 employees,Doctoral degree,7,Academic,Female,31.0
89,2017,115000,United States,Employed full-time,Predictive Modeler,1 to 2 years,"10,000 or more employees",Master's degree,10 - Highly Satisfied,Insurance,Female,39.0
99,2017,15584,Hungary,Employed full-time,Researcher,3 to 5 years,100 to 499 employees,Doctoral degree,8,Academic,Male,40.0
100,2017,80000,United States,Employed full-time,Business Analyst,1 to 2 years,100 to 499 employees,Bachelor's degree,10 - Highly Satisfied,CRM/Marketing,Female,30.0
106,2017,135000,United States,Employed full-time,Predictive Modeler,More than 10 years,500 to 999 employees,Doctoral degree,8,Insurance,Male,50.0
110,2017,75000,United States,"Independent contractor, freelancer, or self-em...",Data Scientist,1 to 2 years,NaN,Master's degree,8,Other,Male,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15959,2017,87437,Japan,"Independent contractor, freelancer, or self-em...",Machine Learning Engineer,6 to 10 years,NaN,Some college/university study without earning ...,5,Hospitality/Entertainment/Sports,Male,34.0
16018,2017,73269,Taiwan,Employed full-time,Business Analyst,More than 10 years,20 to 99 employees,Doctoral degree,9,Mix of fields,Female,52.0
16021,2017,108000,United States,Employed full-time,Data Scientist,3 to 5 years,500 to 999 employees,Master's degree,7,Other,Male,26.0
16083,2017,4,India,Employed full-time,Statistician,3 to 5 years,Fewer than 10 employees,Master's degree,7,Other,Male,30.0
16096,2017,10153,India,Employed full-time,Data Scientist,1 to 2 years,"1,000 to 4,999 employees",Bachelor's degree,NaN,Manufacturing,Female,23.0
16111,2017,40000,Iran,Employed full-time,Data Analyst,6 to 10 years,100 to 499 employees,Master's degree,5,Mix of fields,Male,40.0
16134,2017,7487,Romania,"Independent contractor, freelancer, or self-em...",Researcher,3 to 5 years,NaN,Master's degree,I prefer not to share,Academic,Female,29.0
16142,2017,39462,Italy,Employed full-time,Software Developer/Software Engineer,3 to 5 years,500 to 999 employees,Master's degree,7,Technology,Male,37.0
16178,2017,114772,Switzerland,Employed full-time,Researcher,6 to 10 years,20 to 99 employees,Doctoral degree,8,Academic,Male,38.0
16180,2017,71750,Portugal,"Independent contractor, freelancer, or self-em...",Software Developer/Software Engineer,3 to 5 years,NaN,Bachelor's degree,7,Internet-based,Male,37.0
16197,2017,71750,Netherlands,Employed part-time,Other,More than 10 years,100 to 499 employees,Doctoral degree,9,Government,Male,48.0
16224,2017,19281,Brazil,Employed full-time,Scientist/Researcher,3 to 5 years,"10,000 or more employees",Master's degree,8,Government,Male,31.0
16281,2017,107624,Italy,Employed full-time,Machine Learning Engineer,3 to 5 years,20 to 99 employees,Master's degree,8,Technology,Male,50.0
16288,2017,12000,Iran,Employed full-time,Data Scientist,6 to 10 years,"1,000 to 4,999 employees",Doctoral degree,NaN,Telecommunications,Male,27.0
16334,2017,123553,Canada,Employed full-time,Predictive Modeler,6 to 10 years,"10,000 or more employees",Doctoral degree,6,Financial,Male,48.0
16352,2017,20000,United States,Employed part-time,Researcher,3 to 5 years,I prefer not to answer,Master's degree,7,Academic,Male,26.0
16353,2017,39050,India,Employed full-time,Software Developer/Software Engineer,3 to 5 years,"10,000 or more employees",Bachelor's degree,2,Technology,Male,35.0
16360,2017,170000,United States,Employed full-time,Data Scientist,6 to 10 years,100 to 499 employees,Doctoral degree,7,Hospitality/Entertainment/Sports,Male,32.0
16374,2017,13000,Russia,Employed full-time,Programmer,1 to 2 years,20 to 99 employees,Professional degree,6,Military/Security,Female,25.0
16394,2017,31878,Japan,Employed part-time,Programmer,Less than a year,"10,000 or more employees",Bachelor's degree,6,Retail,Male,32.0
16423,2017,3336,Other,"Independent contractor, freelancer, or self-em...",Software Developer/Software Engineer,1 to 2 years,NaN,Bachelor's degree,6,Financial,Male,26.0
16470,2017,54670,India,Employed full-time,Software Developer/Software Engineer,Less than a year,Fewer than 10 employees,Master's degree,1 - Highly Dissatisfied,Telecommunications,Male,42.0
16473,2017,12000,Ukraine,Employed full-time,Programmer,More than 10 years,20 to 99 employees,Professional degree,9,Technology,Male,35.0
16481,2017,1,United States,Employed full-time,Other,6 to 10 years,500 to 999 employees,Master's degree,9,Financial,Male,39.0
16502,2017,65770,France,Employed full-time,Data Scientist,More than 10 years,100 to 499 employees,Master's degree,5,Government,Male,38.0
16507,2017,50000,Other,Employed full-time,DBA/Database Engineer,1 to 2 years,20 to 99 employees,Bachelor's degree,4,Other,Male,56.0
16517,2017,100449,Germany,Employed full-time,Software Developer/Software Engineer,6 to 10 years,100 to 499 employees,Bachelor's degree,6,Telecommunications,Male,34.0
16525,2017,200000,United States,Employed full-time,Data Scientist,More than 10 years,"10,000 or more employees",Doctoral degree,7,Technology,Male,50.0
16577,2017,89687,Norway,Employed full-time,Data Analyst,3 to 5 years,"10,000 or more employees",Master's degree,8,Financial,Male,32.0
16700,2017,10000,South Korea,"Independent contractor, freelancer, or self-em...",Data Scientist,More than 10 years,NaN,Master's degree,6,Financial,Male,45.0

### 1.1.5 Bringing the data from different sources together

+ Arrange the KGL data in one large df, sorted by year
+ Construct artificial categorical variable `DataSet` to keep track from which dataset the data originates from

In [532]:
df_KGL17Ap = df_KGL17_Salary[['Survey Year','SalaryUSD','Country','CurrentJobTitleSelect','Tenure','FormalEducation','GenderSelect','Age']] 
df_KGL18Ap = df_KGL18_da[['Survey Year','SalaryUSD','Country','CurrentJobTitleSelect','Tenure','FormalEducation','GenderSelect','Age']]
df_KGL19Ap = df_KGL19_da[['Survey Year','SalaryUSD','Country','CurrentJobTitleSelect','Tenure','FormalEducation','GenderSelect','Age']]

df_KGL = df_KGL17Ap.append(df_KGL18Ap.append(df_KGL19Ap, ignore_index=True),ignore_index=True)
df_KGL['DataSet'] = 0 
df_KGL = df_KGL.rename(columns={'CurrentJobTitleSelect': 'JobTitle','FormalEducation' : 'Education', 'GenderSelect': 'Gender' })
df_KGL

,Survey Year,SalaryUSD,Country,JobTitle,Tenure,Education,Gender,Age,DataSet
0,2017,250000,United States,Operations Research Practitioner,More than 10 years,Master's degree,Male,56,0
1,2017,64185,Australia,Business Analyst,3 to 5 years,Bachelor's degree,Female,43,0
2,2017,20882,Russia,Software Developer/Software Engineer,1 to 2 years,Bachelor's degree,Male,33,0
3,2017,1484,India,Data Scientist,3 to 5 years,Bachelor's degree,Male,27,0
4,2017,36634,Taiwan,Software Developer/Software Engineer,1 to 2 years,Master's degree,Male,26,0
5,2017,20000,United States,Researcher,3 to 5 years,Bachelor's degree,Male,25,0
6,2017,100000,United States,Scientist/Researcher,Less than a year,Doctoral degree,Male,33,0
7,2017,916,Czech Republic,Other,Less than a year,Some college/university study without earning ...,Male,21,0
8,2017,10859,Russia,Data Analyst,1 to 2 years,Bachelor's degree,Male,22,0
9,2017,53352,Colombia,Data Scientist,3 to 5 years,Master's degree,Male,34,0
10,2017,179374,Germany,Data Scientist,More than 10 years,I did not complete any formal education past h...,Male,41,0
11,2017,35419,Poland,Software Developer/Software Engineer,Less than a year,Master's degree,Male,29,0
12,2017,172144,United Kingdom,Data Scientist,More than 10 years,Doctoral degree,Male,36,0
13,2017,133000,United States,Engineer,3 to 5 years,Doctoral degree,Male,35,0
14,2017,80000,Sweden,Machine Learning Engineer,More than 10 years,Master's degree,Male,37,0
15,2017,35875,Portugal,Data Scientist,3 to 5 years,Master's degree,Male,30,0
16,2017,11283,Mexico,Data Scientist,1 to 2 years,Some college/university study without earning ...,Male,26,0
17,2017,15000,Iran,Scientist/Researcher,1 to 2 years,Doctoral degree,Male,31,0
18,2017,1874,India,Data Scientist,3 to 5 years,Master's degree,Male,29,0
19,2017,119583,France,Data Scientist,3 to 5 years,Master's degree,Male,25,0
20,2017,43050,Spain,Data Scientist,6 to 10 years,Doctoral degree,Male,38,0
21,2017,215000,United States,Scientist/Researcher,More than 10 years,Doctoral degree,Male,40,0
22,2017,7808,United States,Engineer,3 to 5 years,Master's degree,Male,25,0
23,2017,77729,Germany,Other,3 to 5 years,Master's degree,Male,44,0
24,2017,83500,United States,Scientist/Researcher,6 to 10 years,Doctoral degree,Female,31,0
25,2017,115000,United States,Predictive Modeler,1 to 2 years,Master's degree,Female,39,0
26,2017,15584,Hungary,Researcher,3 to 5 years,Doctoral degree,Male,40,0
27,2017,80000,United States,Business Analyst,1 to 2 years,Bachelor's degree,Female,30,0
28,2017,135000,United States,Predictive Modeler,More than 10 years,Doctoral degree,Male,50,0
29,2017,75000,United States,Data Scientist,1 to 2 years,Master's degree,Male,59,0
...,...,...,...,...,...,...,...,...,...
32100,2019,12500,Other,Software Engineer,NaN,Doctoral degree,Male,40-44,0
32101,2019,22500,South Korea,Data Engineer,NaN,Bachelorâs degree,Male,22-24,0
32102,2019,6250,India,Data Scientist,NaN,Bachelorâs degree,Male,25-29,0
32103,2019,35000,Sweden,Statistician,3-5 years,Masterâs degree,Male,22-24,0
32104,2019,500,Spain,Data Engineer,NaN,Masterâs degree,Female,35-39,0
32105,2019,45000,Czech Republic,Other,NaN,Masterâs degree,Male,30-34,0
32106,2019,500,India,Software Engineer,NaN,Bachelorâs degree,Male,18-21,0
32107,2019,500,India,Software Engineer,1-2 years,Masterâs degree,Male,25-29,0
32108,2019,6250,Turkey,Product/Project Manager,NaN,Masterâs degree,Male,25-29,0
32109,2019,6250,India,Software Engineer,NaN,Bachelorâs degree,Male,22-24,0
32110,2019,500,India,Data Analyst,NaN,Bachelorâs degree,Male,22-24,0
32111,2019,35000,Russia,Research Scientist,NaN,Masterâs degree,Male,30-34,0
32112,2019,22500,China,Data Engineer,1-2 years,I prefer not to answer,Male,25-29,0
32113,2019,6250,India,Business Analyst,NaN,I prefer not to answer,Male,30-34,0
32114,2019,2500,South Korea,Data Analyst,NaN,No formal education past high school,Female,25-29,0
32115,2019,500,India,Data Scientist,NaN,Bachelorâs degree,Male,25-29,0
32116,2019,22500,Australia,Research Scientist,NaN,Doctoral degree,Female,30-34,0
32117,2019,500,Bangladesh,Data Scientist,NaN,Masterâs degree,Male,25-29,0
32118,2019,8750,China,Data Analyst,1-2 years,Masterâs degree,Male,30-34,0
32119,2019,65000,Australia,Other,3-5 years,Bachelorâs degree,Male,25-29,0
32120,2019,8750,India,Data Scientist,NaN,Masterâs degree,Female,30-34,0
32121,2019,4500,India,Software Engineer,NaN,Bachelorâs degree,Female,22-24,0
32122,2019,500,India,Software Engineer,NaN,Professional degree,Male,25-29,0
32123,2019,500,Other,Software Engineer,NaN,Bachelorâs degree,Male,22-24,0
32124,2019,500,India,Data Scientist,NaN,Doctoral degree,Male,18-21,0
32125,2019,8750,India,Data Scientist,NaN,Bachelorâs degree,Male,22-24,0
32126,2019,1500,Austria,Data Scientist,NaN,No formal education past high school,Prefer not to say,25-29,0
32127,2019,500,India,Other,1-2 years,Bachelorâs degree,Male,18-21,0
32128,2019,1500,India,Statistician,NaN,Masterâs degree,Male,25-29,0
32129,2019,65000,France,Software Engineer,3-5 years,Bachelorâs degree,Male,50-54,0

In [533]:
df_OZR = df_OZRresponse_da[['Survey Year','SalaryUSD','Country','JobTitle','YearsWithThisTypeOfJob','Education','Gender']] 
df_OZR['DataSet'] = 1 
df_OZR = df_OZR.rename(columns={'YearsWithThisTypeOfJob': 'Tenure'})
df_OZR

,Survey Year,SalaryUSD,Country,JobTitle,Tenure,Education,Gender,DataSet
0,2017,200000,United States,DBA,5,Masters,Not Asked,1
1,2017,61515,United Kingdom,DBA,3,None (no degree completed),Not Asked,1
2,2017,95000,Germany,Other,25,Masters,Not Asked,1
3,2017,56000,United Kingdom,DBA,2,Associates (2 years),Not Asked,1
4,2017,35000,France,DBA,10,Bachelors (4 years),Not Asked,1
5,2017,215000,United Kingdom,DBA,15,Bachelors (4 years),Not Asked,1
6,2017,75000,Germany,DBA,11,None (no degree completed),Not Asked,1
7,2017,47000,Netherlands,DBA,1,Masters,Not Asked,1
8,2017,41000,United Kingdom,"Developer: App code (C#, JS, etc)",2,Bachelors (4 years),Not Asked,1
9,2017,51652,United Kingdom,Engineer,10,None (no degree completed),Not Asked,1
10,2017,37500,Netherlands,Developer: T-SQL,4,Bachelors (4 years),Not Asked,1
11,2017,60000,Belgium,"Developer: Business Intelligence (SSRS, PowerB...",8,Masters,Not Asked,1
12,2017,137500,United States,DBA,6,None (no degree completed),Not Asked,1
13,2017,63000,United Kingdom,Developer: T-SQL,3,Bachelors (4 years),Not Asked,1
14,2017,85000,United States,DBA,2,Bachelors (4 years),Not Asked,1
15,2017,96000,United States,DBA,5,Masters,Not Asked,1
16,2017,90000,United Kingdom,DBA,1,Bachelors (4 years),Not Asked,1
17,2017,66000,United States,"Developer: App code (C#, JS, etc)",10,Associates (2 years),Not Asked,1
18,2017,101750,United States,DBA,13,None (no degree completed),Not Asked,1
19,2017,83000,Canada,"Developer: App code (C#, JS, etc)",10,Bachelors (4 years),Not Asked,1
20,2017,45000,Canada,DBA,4,Associates (2 years),Not Asked,1
21,2017,78000,United States,DBA,10,Associates (2 years),Not Asked,1
22,2017,123000,United States,DBA,7,Bachelors (4 years),Not Asked,1
23,2017,100800,United States,Architect,6,Bachelors (4 years),Not Asked,1
24,2017,148000,United States,Developer: T-SQL,12,Masters,Not Asked,1
25,2017,113000,United States,Architect,1,Masters,Not Asked,1
26,2017,40000,Poland,DBA,2,Masters,Not Asked,1
27,2017,80000,United States,DBA,3,Bachelors (4 years),Not Asked,1
28,2017,133500,United States,DBA,18,Masters,Not Asked,1
29,2017,102000,United States,DBA,4,Bachelors (4 years),Not Asked,1
...,...,...,...,...,...,...,...,...
6863,2019,145000,United States,DBA (Production Focus - build & troubleshoot s...,7,Bachelors (4 years),Male,1
6864,2019,130000,United States,Engineer,11,Associates (2 years),Male,1
6865,2019,97500,United States,DBA (Production Focus - build & troubleshoot s...,0,None (no degree completed),Male,1
6866,2019,131500,United States,DBA (Production Focus - build & troubleshoot s...,13,Bachelors (4 years),Male,1
6867,2019,118000,United States,DBA (General - splits time evenly between writ...,15,Masters,Female,1
6868,2019,97000,United States,DBA (Production Focus - build & troubleshoot s...,4,Bachelors (4 years),Male,1
6869,2019,88000,United States,DBA (Production Focus - build & troubleshoot s...,7,Bachelors (4 years),Male,1
6870,2019,96000,United States,Developer: T-SQL,12,Associates (2 years),Female,1
6871,2019,68000,New Zealand,DBA (General - splits time evenly between writ...,6,None (no degree completed),Male,1
6872,2019,80000,Australia,Architect,2,Masters,Male,1
6873,2019,100000,Australia,Engineer,1,Bachelors (4 years),Male,1
6874,2019,47000,Poland,DBA (General - splits time evenly between writ...,8,Masters,Male,1
6875,2019,65000,Sweden,DBA (General - splits time evenly between writ...,13,Masters,Male,1
6876,2019,53000,Czech Republic,DBA (General - splits time evenly between writ...,13,Bachelors (4 years),Male,1
6877,2019,96700,Germany,DBA (General - splits time evenly between writ...,12,Masters,Male,1
6878,2019,60300,United Kingdom,DBA (Production Focus - build & troubleshoot s...,2,None (no degree completed),Male,1
6879,2019,81200,Netherlands,DBA (Production Focus - build & troubleshoot s...,12,Bachelors (4 years),Female,1
6880,2019,66000,Germany,DBA (General - splits time evenly between writ...,10,Masters,Male,1
6881,2019,105000,United States,DBA (General - splits time evenly between writ...,15,Bachelors (4 years),Male,1
6882,2019,123000,United States,DBA (General - splits time evenly between writ...,6,Bachelors (4 years),Male,1
6883,2019,101500,United States,DBA (Production Focus - build & troubleshoot s...,9,Bachelors (4 years),Male,1
6884,2019,107000,United States,DBA (Production Focus - build & troubleshoot s...,8,Bachelors (4 years),Male,1
6885,2019,69500,United Kingdom,Architect,7,Bachelors (4 years),Male,1
6886,2019,132000,United States,"DBA (Development Focus - tunes queries, indexe...",20,Bachelors (4 years),Male,1
6887,2019,58500,United States,Analyst,5,Associates (2 years),Male,1
6888,2019,32000,Hungary,DBA (General - splits time evenly between writ...,3,Bachelors (4 years),Male,1
6889,2019,32000,Hungary,DBA (General - splits time evenly between writ...,3,Bachelors (4 years),Male,1
6890,2019,40000,Portugal,"Developer: App code (C#, JS, etc)",19,Bachelors (4 years),Male,1
6891,2019,130000,United States,DBA (General - splits time evenly between writ...,17,Bachelors (4 years),Female,1
6892,2019,84500,Canada,Architect,19,Bachelors (4 years),Male,1

In [545]:
df_income = df_KGL.append(df_OZR,ignore_index = True)

df_income = df_income[['Survey Year','SalaryUSD','Country','JobTitle','Tenure','Education','Gender','Age','DataSet']]
df_income

,Survey Year,SalaryUSD,Country,JobTitle,Tenure,Education,Gender,Age,DataSet
0,2017,250000,United States,Operations Research Practitioner,More than 10 years,Master's degree,Male,56,0
1,2017,64185,Australia,Business Analyst,3 to 5 years,Bachelor's degree,Female,43,0
2,2017,20882,Russia,Software Developer/Software Engineer,1 to 2 years,Bachelor's degree,Male,33,0
3,2017,1484,India,Data Scientist,3 to 5 years,Bachelor's degree,Male,27,0
4,2017,36634,Taiwan,Software Developer/Software Engineer,1 to 2 years,Master's degree,Male,26,0
5,2017,20000,United States,Researcher,3 to 5 years,Bachelor's degree,Male,25,0
6,2017,100000,United States,Scientist/Researcher,Less than a year,Doctoral degree,Male,33,0
7,2017,916,Czech Republic,Other,Less than a year,Some college/university study without earning ...,Male,21,0
8,2017,10859,Russia,Data Analyst,1 to 2 years,Bachelor's degree,Male,22,0
9,2017,53352,Colombia,Data Scientist,3 to 5 years,Master's degree,Male,34,0
10,2017,179374,Germany,Data Scientist,More than 10 years,I did not complete any formal education past h...,Male,41,0
11,2017,35419,Poland,Software Developer/Software Engineer,Less than a year,Master's degree,Male,29,0
12,2017,172144,United Kingdom,Data Scientist,More than 10 years,Doctoral degree,Male,36,0
13,2017,133000,United States,Engineer,3 to 5 years,Doctoral degree,Male,35,0
14,2017,80000,Sweden,Machine Learning Engineer,More than 10 years,Master's degree,Male,37,0
15,2017,35875,Portugal,Data Scientist,3 to 5 years,Master's degree,Male,30,0
16,2017,11283,Mexico,Data Scientist,1 to 2 years,Some college/university study without earning ...,Male,26,0
17,2017,15000,Iran,Scientist/Researcher,1 to 2 years,Doctoral degree,Male,31,0
18,2017,1874,India,Data Scientist,3 to 5 years,Master's degree,Male,29,0
19,2017,119583,France,Data Scientist,3 to 5 years,Master's degree,Male,25,0
20,2017,43050,Spain,Data Scientist,6 to 10 years,Doctoral degree,Male,38,0
21,2017,215000,United States,Scientist/Researcher,More than 10 years,Doctoral degree,Male,40,0
22,2017,7808,United States,Engineer,3 to 5 years,Master's degree,Male,25,0
23,2017,77729,Germany,Other,3 to 5 years,Master's degree,Male,44,0
24,2017,83500,United States,Scientist/Researcher,6 to 10 years,Doctoral degree,Female,31,0
25,2017,115000,United States,Predictive Modeler,1 to 2 years,Master's degree,Female,39,0
26,2017,15584,Hungary,Researcher,3 to 5 years,Doctoral degree,Male,40,0
27,2017,80000,United States,Business Analyst,1 to 2 years,Bachelor's degree,Female,30,0
28,2017,135000,United States,Predictive Modeler,More than 10 years,Doctoral degree,Male,50,0
29,2017,75000,United States,Data Scientist,1 to 2 years,Master's degree,Male,59,0
...,...,...,...,...,...,...,...,...,...
38993,2019,145000,United States,DBA (Production Focus - build & troubleshoot s...,7,Bachelors (4 years),Male,NaN,1
38994,2019,130000,United States,Engineer,11,Associates (2 years),Male,NaN,1
38995,2019,97500,United States,DBA (Production Focus - build & troubleshoot s...,0,None (no degree completed),Male,NaN,1
38996,2019,131500,United States,DBA (Production Focus - build & troubleshoot s...,13,Bachelors (4 years),Male,NaN,1
38997,2019,118000,United States,DBA (General - splits time evenly between writ...,15,Masters,Female,NaN,1
38998,2019,97000,United States,DBA (Production Focus - build & troubleshoot s...,4,Bachelors (4 years),Male,NaN,1
38999,2019,88000,United States,DBA (Production Focus - build & troubleshoot s...,7,Bachelors (4 years),Male,NaN,1
39000,2019,96000,United States,Developer: T-SQL,12,Associates (2 years),Female,NaN,1
39001,2019,68000,New Zealand,DBA (General - splits time evenly between writ...,6,None (no degree completed),Male,NaN,1
39002,2019,80000,Australia,Architect,2,Masters,Male,NaN,1
39003,2019,100000,Australia,Engineer,1,Bachelors (4 years),Male,NaN,1
39004,2019,47000,Poland,DBA (General - splits time evenly between writ...,8,Masters,Male,NaN,1
39005,2019,65000,Sweden,DBA (General - splits time evenly between writ...,13,Masters,Male,NaN,1
39006,2019,53000,Czech Republic,DBA (General - splits time evenly between writ...,13,Bachelors (4 years),Male,NaN,1
39007,2019,96700,Germany,DBA (General - splits time evenly between writ...,12,Masters,Male,NaN,1
39008,2019,60300,United Kingdom,DBA (Production Focus - build & troubleshoot s...,2,None (no degree completed),Male,NaN,1
39009,2019,81200,Netherlands,DBA (Production Focus - build & troubleshoot s...,12,Bachelors (4 years),Female,NaN,1
39010,2019,66000,Germany,DBA (General - splits time evenly between writ...,10,Masters,Male,NaN,1
39011,2019,105000,United States,DBA (General - splits time evenly between writ...,15,Bachelors (4 years),Male,NaN,1
39012,2019,123000,United States,DBA (General - splits time evenly between writ...,6,Bachelors (4 years),Male,NaN,1
39013,2019,101500,United States,DBA (Production Focus - build & troubleshoot s...,9,Bachelors (4 years),Male,NaN,1
39014,2019,107000,United States,DBA (Production Focus - build & troubleshoot s...,8,Bachelors (4 years),Male,NaN,1
39015,2019,69500,United Kingdom,Architect,7,Bachelors (4 years),Male,NaN,1
39016,2019,132000,United States,"DBA (Development Focus - tunes queries, indexe...",20,Bachelors (4 years),Male,NaN,1
39017,2019,58500,United States,Analyst,5,Associates (2 years),Male,NaN,1
39018,2019,32000,Hungary,DBA (General - splits time evenly between writ...,3,Bachelors (4 years),Male,NaN,1
39019,2019,32000,Hungary,DBA (General - splits time evenly between writ...,3,Bachelors (4 years),Male,NaN,1
39020,2019,40000,Portugal,"Developer: App code (C#, JS, etc)",19,Bachelors (4 years),Male,NaN,1
39021,2019,130000,United States,DBA (General - splits time evenly between writ...,17,Bachelors (4 years),Female,NaN,1
39022,2019,84500,Canada,Architect,19,Bachelors (4 years),Male,NaN,1

**Observation:** We loose quite some variables on the way. If we want to take the intersection between the different dataset, then we are left with the following variables from which `Age` is not even contained in the Brent Ozar Data Set:
+ `Survey Year`
+ `SalaryUSD`
+ `Country`
+ `JobTitle`
+ `Tenure`
+ `Education`
+ `Gender`
+ (`Age`)